<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="cabecera(titulo)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${titulo}"></title>
    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
    <link th:href="@{/css/navbar-activo.css}" rel="stylesheet">
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

    <style media="screen">
        .active{
            background-color: #8d8f4c;
            border-radius: 5rem;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
        }
        *{
            padding: 0px;
            margin: 0px;
        }
        nav{
            display: inline-block;
            background-color: #959595;
        }
        ul{
            list-style: none;
        }
    </style>
</head>

<body>
<!-- Sidebar -->
<ul th:fragment="SideBarSede" class="navbar-nav bg-redM sidebar sidebar-dark accordion shadow menu" id="accordionSidebar">
    <!-- Sidebar - Logo -->

    <a class="sidebar-brand align-items-center justify-content-center" th:href="@{/sede/principal}">
        <img th:src="@{/img/logoOriginal.png}" width="195px" height="120px" style="max-width: 100%;max-height: 120px"/>
    </a>
    <!-- Divider -->
    <div style="height: 120px"></div>
    <div style="position: sticky; top: 0.5rem">
    <li class="nav-item">
        <a style="padding-left: 1rem; padding-top: 0.5rem; padding-bottom: 0.5rem" class="nav-link text-gray-100" th:href="@{/sede/principal}">
            <i class="fas fa-fw fa-folder-open text-gray-100"></i>
            <span>Inventario</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0 bg-gray-100">

    <li class="nav-item ">
        <a style="padding-left: 1rem; padding-top: 0.5rem; padding-bottom: 0.5rem" class="nav-link  text-gray-100" th:href="@{/sede/productosEnEspera}">
            <i class="fas fa-fw fa-dolly-flatbed text-gray-100"></i>
            <span>Productos sin confirmar</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0 bg-gray-100">

    <li class="nav-item ">
        <a style="padding-left: 1rem; padding-top: 0.5rem; padding-bottom: 0.5rem" class="nav-link   text-gray-100" th:href="@{/sede/gestionVentas}">
            <i class="far fa-fw fa-folder-open text-gray-100"></i>
            <span>Lista de Ventas</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0 bg-gray-100">

    <li class="nav-item ">
        <a style="padding-left: 1rem; padding-top: 0.5rem; padding-bottom: 0.5rem" class="nav-link text-gray-100" th:href="@{/sede/registroTiendas}">
            <i class="far fa-fw fa-folder-open text-gray-100"></i>
            <span>Registro de tiendas</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider my-0 bg-gray-100">
    </div>
</ul>
<!-- End of Sidebar -->


<!-- Topbar -->
<nav th:fragment="TopBar" class="navbar navbar-expand navbar-light topbar mb-4 static-top shadowA bg-gray-100">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <h4 class="text-gray-900 "><b th:text="'Sede ' + ${session.user.sede.nombre}"></b></h4>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle text-gray-900" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw "></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        <div class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span sec:authorize="isAuthenticated()" th:text="|${session.user.nombre} ${session.user.apellido}|" class="mr-2 d-none d-lg-inline text-gray-600 small">Telito Teleco</span>
                <img class="img-profile rounded-circle" th:src="@{/img/imgPerfil.png}" style="margin-left: 1rem">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in bg-greenM" aria-labelledby="userDropdown">
                <a class="dropdown-item text-white" th:href="@{/sede/editarInfo}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-100"></i>
                    Perfil
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-100"></i>
                    Cerrar Sesión
                </a>
            </div>
        </div>
    </ul>
</nav>
<!-- End of Topbar -->

<!-- Logout Modal-->
<div th:fragment="LogOut" class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea salir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Click en "Aceptar" si está seguro de que quiere cerrar sesión.</div>
            <form class="modal-footer" th:action="@{/cerrar}" method="post" >
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-orange" type="submit">Aceptar</button>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<div th:fragment="script">
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>

    <!-- Sidebar-Active -->
    <script th:src="@{/js/navbar-active.js}"></script>
    <script>
        $(document).ready(function() {
            $('li.active').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
        });
    </script>

</div>
</body>
</html>
