<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="cabecera(titulo)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${titulo}"></title>
    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
</head>


<!-- Sidebar -->
<ul th:fragment="SideBarGestor" class="navbar-nav bg-redM sidebar sidebar-dark accordion shadow" id="accordionSidebar">
    <!-- Sidebar - Logo -->
    <a class="sidebar-brand align-items-center justify-content-center" th:href="@{/system}">
        <img th:src="@{/img/logoRed.png}" width="150px" height="90px"/>
    </a>
    <!-- Divider
    <hr class="sidebar-divider2">-->
    <hr>
    <hr>
    <hr>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link text-gray-100" th:href="@{/gestor/gestorPrincipal}">
            <i class="fas fa-fw fa-folder-open text-gray-100"></i>
            <span>Inventario</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0 bg-gray-100">
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link text-gray-100" th:href="@{/gestor/gestorListaUsuarioSede}">
            <i class="far fa-fw fa-address-card text-gray-100"></i>
            <span>Usuarios Sede</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider my-0 bg-gray-100">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link text-gray-100" href="#" data-toggle="collapse" data-target="#collapseAtributos"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fab fa-fw fa-buffer text-gray-100"></i>
            <span>Gestionar Atributos</span>
        </a>
        <div id="collapseAtributos" class="collapse  bg-gray-100" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-gray-100 py-2 collapse-inner rounded">
                <h6 class="collapse-header text-gray-900   ">Listas:</h6>
                <a class="collapse-item text-gray-900" th:href="@{/gestor/gestorListaComunidad}">-Comunidades</a>
                <a class="collapse-item text-gray-900" th:href="@{/gestor/gestorListaArtesano}">-Artesanos</a>
                <a class="collapse-item text-gray-900" th:href="@{/gestor/gestorListaCategoria}">-Categorías</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider my-0 bg-gray-100">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link text-gray-100" href="#" data-toggle="collapse" data-target="#collapseVentas"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fab fa-fw fa-buffer text-gray-100"></i>
            <span>Gestionar Ventas</span>
        </a>
        <div id="collapseVentas" class="collapse  bg-gray-100" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-gray-100 py-2 collapse-inner rounded">
                <h6 class="collapse-header text-gray-900   ">Acción:</h6>
                <a class="collapse-item text-gray-900" th:href="@{/gestor/gestionVentas}">-Lista Ventas</a>
                <a class="collapse-item text-gray-900" th:href="@{/gestor/gestorReporteVentas}">-Reporte Ventas</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider my-0 bg-gray-100">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link text-gray-100" href="#" data-toggle="collapse" data-target="#collapseProductos"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fab fa-fw fa-buffer text-gray-100"></i>
            <span>Gestionar Productos</span>
        </a>
        <div id="collapseProductos" class="collapse  bg-gray-100" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-gray-100 py-2 collapse-inner rounded">
                <h6 class="collapse-header text-gray-900   ">Acción:</h6>
                <a class="collapse-item text-gray-900" th:href="@{/gestor/gestorProductosEnviados}">-Enviados</a>
                <a class="collapse-item text-gray-900" th:href="@{/gestor/gestorProductosAceptados}">-Aceptados</a>
                <a class="collapse-item text-gray-900" th:href="@{/gestor/gestorProductosRechazados}">-Rechazados</a>
                <a class="collapse-item text-gray-900" th:href="@{/gestor/gestorNuevoEnvio}">-Nuevo Envio</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block bg-gray-100">
</ul>
<!-- End of Sidebar -->


<!-- Topbar -->
<nav th:fragment="TopBar" class="navbar navbar-expand navbar-light topbar mb-4 static-top shadowA bg-gray-100">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <h4 class="text-gray-900"><b>Gestor</b></h4>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle text-gray-900" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw "></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span sec:authorize="isAuthenticated()" th:text="|${session.user.nombre} ${session.user.apellido}|" class="mr-2 d-none d-lg-inline text-gray-600 small">Telito Teleco</span>
                <img class="img-profile rounded-circle" th:src="@{/img/imgPerfil.png}" style="margin-left: 1rem">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in bg-orangeM"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item text-white" th:href="@{/gestor/perfil}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-100"></i>
                    Perfil
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white" th:href="@{/system}" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-100"></i>
                    Cerrar Sesión
                </a>
            </div>
        </li>
    </ul>
</nav>
<!-- End of Topbar -->

<!-- Logout Modal-->
<div th:fragment="LogOut" class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <form class="modal-footer" th:action="@{/cerrar}" method="post" >
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit">Logout</button>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<div th:fragment="script">
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
</div>
</html>