<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosAdmin.html::cabecera(titulo='Nueva Contraseña')">
</head>


<body class="fondo">
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row h-25">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image h-25">
                            <img th:src="@{/img/imagenLog.PNG}" width="362px" height="716.8px">
                        </div>
                        <div class="col-lg-6 bg-gray-100 h-25">
                            <div class="p-5">
                                <div class="text-center">
                                    <img th:src="@{/img/logoOriginal.png}" height="120px" width="240px">
                                    <h1 class="h4 text-gray-900 mb-2">Nueva Contraseña</h1>
                                    <p class="mb-4">Su contraseña deberá contener los siguientes parámetros:</p>
                                    <p class="mb-4">- Mínimo una letra mayúscula</p>
                                    <p class="mb-4">- Mínimo dos números</p>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="password" class="form-control-log form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Ingrese la nueva contraseña">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control-log form-control-user" id="exampleInputPassword" placeholder="Repita la contraseña">
                                    </div>
                                    <div class="text-center">Luego de hacer click en "Confirmar", su contraseña será automaticamente actualizada para loguearse.
                                        </div>
                                    <br>
                                    <a class="btn btn-log btn-user btn-block" th:href="@{/system/}">Confirmar</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div th:replace="Fragmentos/FragmentosAdmin.html::Script"></div>

</body>

</html>
