<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosAdmin.html::cabecera(titulo='Detalles')">
</head>

<body id="page-top">

    <div id="wrapper">
        <div th:replace="Fragmentos/FragmentosAdmin.html::SideBarAdmin"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column bg-white">

            <!-- Main Content -->
            <div id="content">
                <div th:insert="Fragmentos/FragmentosAdmin.html::TopBar"></div>
                <div th:insert="Fragmentos/FragmentosAdmin.html::LogOut"></div>
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="card shadowA mb-4" >
                        <div class="card-header2 py-3">
                            <div class="d-flex justify-content-between centrado">
                                <h5 class="m-0 font-weight-bold text-redM">Detalles Producto</h5>
                            </div>
                        </div>
                        <div class="card-body bg-gray-100">
                            <div class="table-responsive bg-gray-100 d-flex">
                                <div class="col-lg-6 ">
                                    <br>
                                    <div class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Nombre del Producto:</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.producto.denominacion.nombre}"></p></div>
                                    </div>
                                    <hr>
                                    <div class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Código del Producto:</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.producto.denominacion.codigonombre}"></p></div>
                                    </div>
                                    <hr>
                                    <div class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Código Generado:</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.producto.codigoGenerado}"></p></div>
                                    </div>
                                    <hr>
                                    <div class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Línea:</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.producto.denominacion.linea.nombre}"></p></div>
                                    </div>
                                    <hr>
                                    <div class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Categoría:</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.producto.categoria.nombre}"></p></div>
                                    </div>
                                    <hr>
                                    <div class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Comunidad:</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.producto.comunidad.nombre}"></p></div>
                                    </div>
                                    <hr>
                                    <div th:if="${d.producto.adquisicion.artesano != null}" class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Artesano:</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.producto.adquisicion.artesano.nombre}"></p></div>
                                    </div>
                                    <hr th:if="${d.producto.adquisicion.artesano != null}" >
                                    <div class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Cantidad:</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.stock}"></p></div>
                                    </div>
                                    <hr>
                                    <div class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Tamaño:</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.producto.tamanho.nombre}"></p></div>
                                    </div>
                                    <hr>
                                    <div class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Color:</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.color}"></p></div>
                                    </div>

                                </div>
                                <div class="col-lg-6 ">
                                    <br>
                                    <div class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Tipo de Adquisicion:</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.producto.adquisicion.modalidad}"></p></div>
                                    </div>
                                    <hr>
                                    <div class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Fecha:</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.producto.adquisicion.fecha}"></p></div>
                                    </div>
                                    <hr>
                                    <div class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Costo Mosqoy(S/.):</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.preciomosqoy}"></p></div>
                                    </div>
                                    <hr>
                                    <div class="d-flex">
                                        <div class="col-lg-5 centrado">
                                            <p>Descripción:</p>
                                        </div>
                                        <div class="col-lg-6"><p th:text="${d.producto.denominacion.descripcion}"></p></div>
                                    </div>
                                    <hr>
                                    <br>
                                    <br>
                                    <div class="d-flex">

                                        <div class="col-xl-auto">
                                            <div class="card border-left-warning shadow h-100 py-2">
                                                <div class="card-body" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
                                                    <img th:src="@{|/admin/image/${d.idInventario}|}" style="max-width: 100%;max-height: 250px"
                                                         onerror="this.onerror=null;
                                                     this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Imagen_no_disponible.svg/1200px-Imagen_no_disponible.svg.png'" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div th:replace="Fragmentos/FragmentosAdmin.html::script"></div>

</body>

</html>