<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosAdmin.html::cabecera(titulo='Lista Gestores')">
</head>

<body id="page-top">

    <div id="wrapper">
        <div th:insert="Fragmentos/FragmentosAdmin.html::SideBarAdmin"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column bg-white">
            <!-- Main Content -->
            <div id="content">
                <div th:insert="Fragmentos/FragmentosAdmin.html::TopBar"></div>
                <div th:insert="Fragmentos/FragmentosAdmin.html::LogOut"></div>
                <!-- Page Heading -->
                <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                <div class="container-fluid">
                    <div class="card shadowA mb-4">
                        <div class="card-header2" style="padding-top: 0.6rem; padding-bottom: 0.6rem">
                            <div class="d-flex justify-content-between centrado">
                                <h5 class="m-0 font-weight-bold text-redM">Lista de Gestores</h5>
                                <div class="col-lg-2">
                                    <a class="btn btn-orange btn-user btn-block" th:href="@{/admin/nuevoGestor}">Añadir Gestor</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-gray-100">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr class="bg-gray-900 text-white" align="center">
                                            <th>Nombre y Apellidos</th>
                                            <th>Correo electronico</th>
                                            <th>Telefono</th>
                                            <th>Borrar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="bg-white" align="center" th:each="gestor : ${listaGestores}">
                                            <td th:text="${gestor.nombre+' '+gestor.apellido}"></td>
                                            <td th:text="${gestor.correo}"></td>
                                            <td th:text="${gestor.telefono}"></td>
                                            <td align="center">
                                                <a data-toggle="modal" data-target="#modalborrar" th:attrappend="data-target=${gestor.idusuarios}" th:href="@{'/admin/borrarGestor?id='+ ${gestor.idusuarios}}">
                                                    <i class="far fa-trash-alt text-redM"></i>
                                                </a>
                                                <div class="modal fade" id="modalborrar"  tabindex="-1" role="dialog" th:attrappend="id=${gestor.idusuarios}" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header text-center">
                                                                <h4 class="modal-title w-100 font-weight-bold">Eliminar Artesano del registro</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h6 th:text="'¿Está seguro que desea eliminar a ' + ${gestor.nombre}+' '+${gestor.apellido} + ' del registro?'"></h6>
                                                                <a th:href="@{'/admin/borrarGestor?id='+ ${gestor.idusuarios}}" class="btn btn-danger btn-primary btn-block" >Eliminar permanentemente</a>
                                                                <a class="btn btn-searchTop btn-user btn-block text-white" type="button" data-dismiss="modal">Cancelar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div th:replace="Fragmentos/FragmentosAdmin.html::script"></div>

</body>

</html>