<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosAdmin.html::cabecera(titulo='Nuevo Gestor')">
</head>

<body id="page-top">

    <div id="wrapper">
        <div th:insert="Fragmentos/FragmentosAdmin.html::SideBarAdmin"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column bg-white">
            <!-- Main Content -->
            <div id="content">
                <div th:insert="Fragmentos/FragmentosAdmin.html::TopBar"></div>
                <div th:insert="Fragmentos/FragmentosAdmin.html::LogOut"></div>
                <!-- Page Heading -->
                <div class="container-fluid">
                    <div class="card shadowA mb-4">
                        <div class="card-header2 py-3">
                            <div class="d-flex justify-content-between centrado">
                                <h5 class="m-0 font-weight-bold text-redM">Nuevo Gestor</h5>
                            </div>
                        </div>
                        <div class="card-body bg-gray-100">
                            <div class="row">
                                <div style="width: 62px"></div>
                                <div class="col-lg-5">
                                    <div class="p-5">
                                        <form class="user" method="post" th:action="@{'/admin/guardarGestor'}"  th:object="${usu}">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control form-control-user" th:field="*{nombre}">
                                                <div style="font-size:0.8rem;text-align: center" class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error</div>
                                                <div style="font-size:0.8rem;text-align: center" class="text-danger" th:if="${msgNA!=null}" th:text="${msgNA}"></div>
                                            </div>
                                            <div class="form-group">
                                                <label>Apellidos</label>
                                                <input type="text" class="form-control form-control-user" th:field="*{apellido}">
                                                <div style="font-size:0.8rem;text-align: center" class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error</div>
                                            </div>
                                            <div class="form-group">
                                                <label>Correo</label>
                                                <input type="email" class="form-control form-control-user" th:field="*{correo}">
                                                <div style="font-size:0.8rem;text-align: center" class="text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">Error</div>
                                                <div style="font-size:0.8rem;text-align: center" class="text-danger" th:if="${msgC!=null}" th:text="${msgC}"></div>
                                            </div>
                                            <div class="form-group">
                                                <label>Telefono</label>
                                                <input type="tel" class="form-control form-control-user" th:field="*{telefono}">
                                                <div style="font-size:0.8rem;text-align: center" class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Error</div>
                                                <div style="font-size:0.8rem;text-align: center" class="text-danger" th:if="${msgT!=null}" th:text="${msgT}"></div>
                                            </div>
                                            <hr>
                                            <button type="submit" class="btn btn-searchTop btn-user btn-block">
                                                Registrar
                                            </button>
                                            <a th:href="@{/admin/listaGestores}" class="btn btn-log btn-danger btn-block" style="border-radius:10rem" >Cancelar</a>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-4">
                                    <br>
                                    <br>
                                    <div class="card shadowA mb-4">
                                        <div class="card-header py-3 bg-white">
                                            <h6 class="m-0 font-weight-bold text-greenM">Recordar!</h6>
                                        </div>
                                        <div class="card-body bg-white">
                                            El Gestor tiene el control total sobre todo el inventario. Así mismo, puede crear, editar y mantener sedes.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div th:replace="Fragmentos/FragmentosAdmin.html::script"></div>

</body>

</html>