<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragmentos/FragmentosAdmin.html::cabecera(titulo='Página Principal')">
</head>

<body id="page-top">

    <div id="wrapper">
        <div th:replace="Fragmentos/FragmentosAdmin.html::SideBarAdmin"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column bg-white">
            <!-- Main Content -->
            <div id="content">
                <div th:insert="Fragmentos/FragmentosAdmin.html::TopBar"></div>
                <div th:insert="Fragmentos/FragmentosAdmin.html::LogOut"></div>
                <div th:insert="Fragmentos/FragmentosAdmin.html::perfilModal(perfil=${perfil})"></div>
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="card shadowA mb-4">
                        <div class="card-header2 py-3">
                            <div class="d-flex justify-content-between centrado">
                                <h5 class="m-0 font-weight-bold text-redM">Inventario</h5>
                            </div>
                        </div>
                        <div class="card-body bg-gray-100">
                            <div class="table-responsive bg-gray-100">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr class="bg-gray-900 text-white" align="center">
                                            <th>Nombre del Producto</th>
                                            <th>Codigo</th>
                                            <th>Stock</th>
                                            <th>Tipo de Adquisicion</th>
                                            <th>Fecha de adquisicion</th>
                                            <th>Detalles</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="i : ${inventario}" class="bg-white" align="center">
                                            <td th:text="${i.producto.denominacion.nombre}">Chalina</td>
                                            <td th:text="${i.producto.denominacion.codigoNombre}">DKLS45</td>
                                            <td th:text="${i.stock}">100</td>
                                            <td th:text="${i.producto.adquisicion.modalidad}">Compra</td>
                                            <td th:text="${i.producto.adquisicion.fecha}">10/04/2019</td>
                                            <td align="center"><a th:href="@{'/admin/detalles?id='+ ${i.idInventario}}" >
                                                <i class="far fa-list-alt text-orangeM"></i>
                                            </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div th:replace="Fragmentos/FragmentosAdmin.html::Script"></div>

</body>
</html>