<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragmentos/FragmentosAdmin.html::cabecera(titulo='Página Principal')">
</head>

<body id="page-top">

    <div id="wrapper">
        <div th:replace="Fragmentos/FragmentosAdmin.html::SideBarAdmin"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column bg-white">
            <!-- Main Content -->
            <div id="content">
                <div th:insert="Fragmentos/FragmentosAdmin.html::TopBar"></div>
                <div th:insert="Fragmentos/FragmentosAdmin.html::LogOut"></div>
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="card shadowA mb-4">
                        <div class="card-header2 py-3">
                            <div class="d-flex justify-content-between centrado">
                                <h5 class="m-0 font-weight-bold text-redM">Inventario</h5>
                                <button class="btn btn-orange" onclick="mostrarForm()">
                                    Búsqueda Avanzada
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body bg-gray-100">
                            <div class="card2" id="busquedaAv">
                                <form  method="post" th:action="@{/admin/bucador}" class="user">
                                    <div class="row">
                                        <div class="col-lg-6ba">
                                            <div class="row" style="margin: 1rem">
                                                <div class="col-ba-1">
                                                    <input id="artesanocb" name="artesanocb" value="activo" type="checkbox" style="margin: 0.75rem">
                                                </div>
                                                <div class="col-ba-2">
                                                    <label for="artesano" style="margin-top: 0.25rem">Artesano:</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select class="form-control" name="artesano" id="artesano" style="border-radius: 10rem" >
                                                        <option th:each=" artesano : ${listaArtesanos}"
                                                                th:value="${artesano.idArtesano}"
                                                                th:text="${artesano.nombre +  ' ' + artesano.apellidopaterno+ ' ' + artesano.apellidomaterno}">Todo</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row" style="margin: 1rem">
                                                <div class="col-ba-1">
                                                    <input id="comunidadcb" name="comunidadcb" type="checkbox" value="activo" style="margin: 0.75rem">
                                                </div>
                                                <div class="col-ba-2">
                                                    <label for="comunidad" style="margin-top: 0.25rem">Comunidad:</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select class="form-control" name="comunidad" id="comunidad" style="border-radius: 10rem" >
                                                        <option th:each=" comunidad : ${listaComunidades}"
                                                                th:value="${comunidad.idComunidad}"
                                                                th:text="${comunidad.nombre}">Todo</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row" style="margin: 1rem">
                                                <div class="col-ba-1">
                                                    <input id="categoriacb" name="categoriacb" type="checkbox" value="activo" style="margin: 0.75rem">
                                                </div>
                                                <div class="col-ba-2">
                                                    <label for="categoria" style="margin-top: 0.25rem">Categoría:</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select class="form-control" name="categoria" id="categoria" style="border-radius: 10rem" >
                                                        <option th:each=" categoria : ${listaCategoria}"
                                                                th:value="${categoria.idCategoria}"
                                                                th:text="${categoria.nombre}">Todo</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divisor-ba"></div>
                                        <div class="col-lg-6">
                                            <div class="row" style="margin: 1rem">
                                                <div class="col-lg-5ba">
                                                    <label for="categoria" style="margin-top: 0.25rem">Tipo Adquisición:</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select class="form-control" style="border-radius: 10rem">
                                                        <option value="todo">Todo</option>
                                                        <option value="compra">Compra</option>
                                                        <option value="consignacion">Consignación</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div style="text-align: right">
                                                <button type="submit" class="btn btn-orange" style="margin-top: 4.25rem">Buscar</button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="table-responsive bg-gray-100">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr class="bg-gray-900 text-white" align="center">
                                            <th>Nombre del Producto</th>
                                            <th>Código</th>
                                            <th>Stock</th>
                                            <th>Color</th>
                                            <th>Tipo de Adquisicion</th>
                                            <th>Detalles</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="i : ${inventario}" class="bg-white" align="center">
                                            <td th:text="${i.producto.denominacion.nombre}">Chalina</td>
                                            <td th:text="${i.producto.codigoGenerado}">DKLS45</td>
                                            <td th:text="${i.stock}"></td>
                                            <td th:text="${i.color}"></td>
                                            <td th:text="${i.producto.adquisicion.modalidad}">Compra</td>
                                            <td align="center"><a th:href="@{'/admin/detalles?id='+ ${i.idInventario}}" >
                                                <i class="far fa-list-alt text-greenM"></i>
                                            </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div th:replace="Fragmentos/FragmentosAdmin.html::Script"></div>
    <script type="text/javascript">
        $("#busquedaAv").hide();
        var s = true;

        function mostrarForm(){

            if(s === true){
                $("#busquedaAv").show(500).delay(1000);
                s = false;
            }else{
                $("#busquedaAv").hide(500).delay(1000);
                s = true;
            }
        }</script>
</body>
</html>