<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="FragmentosAdmin/Fragmentos.html::cabecera(titulo='Añadir Producto')">
</head>

<body id="page-top">

<div id="wrapper">
    <div th:replace="FragmentosSede/Fragmentos.html::SideBarSede"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-white">

        <!-- Main Content -->
        <div id="content">
            <div th:insert="FragmentosSede/Fragmentos.html::TopBar"></div>
            <div th:insert="FragmentosSede/Fragmentos.html::LogOut"></div>
            <div class="container-fluid">

                <!-- Page Heading -->


                <div class="card shadowA mb-4">
                    <div class="card-header2 py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-redM">Detalles</h5>
                        </div>
                    </div>
                    <div class="card-body bg-gray-100">
                        <div class="table-responsive bg-white d-flex">
                            <form class="user">
                                <br>
                                <div class="d-flex">
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-6">
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="nombre">Nombre:</label>
                                            </div>
                                            <input name="nombre" type="text" class="form-control form-control-user2" id="nombre" placeholder="">
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="codNombre">Código Nombre:</label>
                                            </div>
                                            <input name="codNombre" type="text" class="form-control form-control-user2" id="codNombre" placeholder="">
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="color">Color:</label>
                                            </div>
                                            <input name="color" type="text" class="form-control form-control-user2" id="color" placeholder="">
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="cantidad">Cantidad:</label>
                                            </div>
                                            <input name="cantidad" type="text" class="form-control form-control-user2" id="cantidad" placeholder="">
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="numeroPedido">Número Pedido:</label>
                                            </div>
                                            <input name="numeroPedido" type="text" class="form-control form-control-user2" id="numeroPedido" placeholder="">
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="fechaAdq">Fecha Adquisición:</label>
                                            </div>
                                            <input name="fechaAdq" type="text" class="form-control form-control-user2" id="fechaAdq" placeholder="">
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="precioM">Precio Mosqoy:</label>
                                            </div>
                                            <input name="precioM" type="text" class="form-control form-control-user2" id="precioM" placeholder="">
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="costoT">Costo Tejedor:</label>
                                            </div>
                                            <input name="costoT" type="text" class="form-control form-control-user2" id="costoT" placeholder="">
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="codGenerado">Código Generado:</label>
                                            </div>
                                            <input name="codGenerado" type="text" class="form-control form-control-user2" id="codGenerado" placeholder="">
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="facilitador">Facilitador:</label>
                                            </div>
                                            <input name="facilitador" type="text" class="form-control form-control-user2" id="facilitador" placeholder="">
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="Descripción">Descripción:</label>
                                            </div>
                                            <input name="Descripción" type="text" class="form-control form-control-user2" id="Descripción" placeholder="">
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="codDescrip">Código Descripción:</label>
                                            </div>
                                            <input name="codDescrip" type="text" class="form-control form-control-user2" id="codDescrip" placeholder="">
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="fechaFin">Fecha Fin:</label>
                                            </div>
                                            <input name="fechaFin" type="text" class="form-control form-control-user2" id="fechaFin" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-6">
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="linea">Línea:</label>
                                            </div>
                                            <select class="form-control form-control-user2" id="linea">
                                                <option>dasdds</option>
                                                <option>dasdds</option>
                                            </select>
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="categoria">Categoría:</label>
                                            </div>
                                            <select class="form-control form-control-user2" id="categoria">
                                                <option>dasdds</option>
                                                <option>dasdds</option>
                                            </select>
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="tamaño">Tamaño:</label>
                                            </div>
                                            <select class="form-control form-control-user2" id="tamaño">
                                                <option>dasdds</option>
                                                <option>dasdds</option>
                                            </select>
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="comunidad">Comunidad:</label>
                                            </div>
                                            <select class="form-control" style="border-radius: 20px" id="comunidad">
                                                <option th:each="x:${listaComunidad}" th:value="${x.idComunidad}" th:text="${x.nombre}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label for="artesano">Artesano:</label>
                                            </div>
                                            <select class="form-control form-control-user2" id="artesano">
                                                <option>dasdds</option>
                                                <option>dasdds</option>
                                            </select>
                                        </div>
                                        <br><br>
                                        <div class="d-flex">
                                            <div class="col-lg-2"></div>
                                            <div class="col-xl-9 col-md-6 mb-4">
                                                <div class="card border-left-warning shadowA h-100 py-2" style="margin-left: 15px">
                                                    <div class="card-body">
                                                        <img th:src="@{/img/bufanda.png}" width="190px" height="200px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="d-flex">
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-10">
                                                <hr>
                                                <a th:href="@{/sede/principal}" class="btn btn-searchTop btn-user btn-block">
                                                    Guardar
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="FragmentosAdmin/Fragmentos.html::script"></div>

</body>

</html>