<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="FragmentosAdmin/Fragmentos.html::cabecera(titulo='Página Principal')">
</head>

<body id="page-top">

<div id="wrapper">
    <div th:replace="FragmentosSede/Fragmentos.html::SideBarSede"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-white">

        <!-- Main Content -->
        <div id="content">
            <div th:insert="FragmentosSede/Fragmentos.html::TopBar"></div>
            <div th:insert="FragmentosSede/Fragmentos.html::LogOut"></div>
            <div class="container-fluid">
                <div class="col-lg-2">
                    <a class="btn btn-gray-900 btn-user btn-block" th:href="@{/sede/nuevoProducto}">Añadir Producto</a>
                </div>
                <br>
                <div class="card shadowA mb-4">
                    <div class="card-header2 py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-redM">Inventario</h5>
                            <form >
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small bg-white" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-searchTop text-gray-900" type="button">
                                            <i class="fas fa-search fa-sm text-gray-100"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body bg-gray-100">
                        <div class="table-responsive bg-white">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr class="bg-gray-900 text-white" align="center">
                                        <th>Nombre del Producto</th>
                                        <th>Codigo</th>
                                        <th>Stock</th>
                                        <th>Tipo de Adquisicion</th>
                                        <th>Fecha de adquisicion</th>
                                        <th>Detalles</th>
                                        <th>Editar/Borrar</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr align="center">
                                        <th>Nombre del Producto</th>
                                        <th>Codigo</th>
                                        <th>Stock(unidades)</th>
                                        <th>Tipo de Adquisicion</th>
                                        <th>Fecha de adquisicion</th>
                                        <th>Detalles</th>
                                        <th>Editar/Borrar</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr th:each="x : ${listaProductos}" align="center">
                                        <td th:text="${x.producto.denominacion.nombre}"></td>
                                        <td th:text="${x.producto.denominacion.codigoNombre}"></td>
                                        <td th:text="${x.stock}"></td>
                                        <td th:text="${x.producto.adquisicion.modalidad}"></td>
                                        <td th:text="${x.producto.adquisicion.fecha}"></td>
                                        <td align="center">
                                            <a th:href="@{'/sede/detalleProducto?id='+${x.idInventario}}">
                                                <i class="far fa-list-alt text-greenM"></i>
                                            </a>
                                        </td>
                                        <td align="center">
                                            <a th:href="@{'/sede/editarProducto?id='+${x.idInventario}}">
                                                <i class="far fa-edit text-orangeM" style="margin-right: 5px"></i>
                                            </a>
                                            <a th:href="@{'/sede/borrarProducto?id='+${x.idInventario}}">
                                                <i class="far fa-trash-alt text-redM" style="margin-left: 5px"></i>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="FragmentosAdmin/Fragmentos.html::Script"></div>

</body>

</html>