<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosSede.html::cabecera(titulo='Ventas')">
</head>

<body id="page-top">

<!-- Page Wrapper -->
    <div id="wrapper">

        <div th:replace="FragmentosSede/Fragmentos.html::SideBarSede"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column bg-white">
            <div id="content">
                <div th:insert="Fragmentos/FragmentosSede.html::TopBar"></div>
                <div th:insert="Fragmentos/FragmentosSede.html::LogOut"></div>
                <div class="container-fluid">
                    <div class="form-group col-md-4" >
                        <form>

                            <div class="form-group">
                                <label for="inputAddress">N° RUC</label>
                                <input type="text" class="form-control" id="inputAddress" >

                                <label for="inputAddress2">Nombre del Comprador</label>
                                <input type="text" class="form-control" id="inputAddress2" >

                                <label for="inputAddress3">N° Documento Físico</label>
                                <input type="text" class="form-control" id="inputAddress3" >

                                <label for="inputAddress3">Lugar de Venta</label>
                                <input type="text" class="form-control" id="inputAddress4" >

                                <label for="inputAddress3">Código del producto</label>
                                <input type="text" class="form-control" id="inputAddress5" >

                                <label for="inputAddress3">Cantidad</label>
                                <input type="text" class="form-control" id="inputAddress6" >

                                <label for="inputAddress3">Código del producto</label>
                                <input type="text" class="form-control" id="inputAddress7" >

                                <label for="inputAddress3">Fecha</label>
                                <input type="date" class="form-control" id="inputAddress8" >
                            </div>
                        </form>
                    </div>
                    <div class="form-group col-md-2"></div>
                    <div class="form-group col-md-2">
                        <a class="btn btn-warning" th:href="@{/system/registroVentasAlerta}">Registrar</a>
                    </div>
                    <div class="form-group col-md-2"></div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-gray-900">Registro de ventas</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>RUC</th>
                                            <th>Nombre del Comprador</th>
                                            <th>N° del documento</th>
                                            <th>Lugar de Venta</th>
                                            <th>Cantidad</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>RUC</th>
                                            <th>Nombre del Comprador</th>
                                            <th>N° del documento</th>
                                            <th>Lugar de Venta</th>
                                            <th>Cantidad</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>20503644968</td>
                                            <td>Carlos Minaya</td>
                                            <td>77506843</td>
                                            <td>Finlandia</td>
                                            <td>50</td>
                                            <td>20/04/05</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div th:replace="Fragmentos/FragmentosSede.html::script"></div>

</body>
</html>