<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosSede.html::cabecera(titulo='Ventas')">
</head>

<body id="page-top">


<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="Fragmentos/FragmentosSede.html::SideBarSede"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <div id="content">
            <div th:insert="Fragmentos/FragmentosSede.html::TopBar"></div>
            <div th:insert="Fragmentos/FragmentosSede.html::LogOut"></div>
            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-danger" role="alert"></div>
            <!-- Page Heading -->
            <div class="container-fluid">
                <div class="card shadowA mb-4">
                    <div class="card-header2 py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-redM" type="text">Registro de nueva Venta</h5>
                        </div>
                    </div>
                    <div class="card-body bg-gray-100">
                        <div class="row">
                            <div style="width: 62px"></div>
                            <div class="col-lg-5">
                                <div class="p-5">
                                    <form method="post" class="user" th:action="@{'/sede/guardarVenta'}"
                                          th:object="${venta}">
                                        <input th:field="*{idventa}" type="hidden"/>
                                        <div class="form-group">
                                            <Label>Nombre del Cliente:</Label>
                                            <input type="text" class="form-control form-control-user2"
                                                   th:field="*{nombrecliente}"/>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('nombrecliente')}"
                                                 th:errors="*{nombrecliente}">Error
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Tipo de documento de identidad:</label>
                                            <select style="border-radius: 10rem" class="form-control"
                                                    th:field="*{tipodocumentoidentidad}"
                                                    type="item">
                                                <option th:text="DNI" value="DNI">DNI</option>
                                                <option th:text="Pasaporte"  value="Pasaporte">Pasaporte</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <Label>Número de documento de identidad:</Label>
                                            <input type="text" class="form-control form-control-user2"
                                                   th:field="*{numerodocumentoidentidad}"/>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('numerodocumentoidentidad')}"
                                                 th:errors="*{numerodocumentoidentidad}">Error
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Tipo de documento de venta:</label>
                                            <select style="border-radius: 10rem" class="form-control"
                                                    th:field="*{tipodocumentoventa}"
                                                    type="item">
                                                <option th:text="Boleta" value="Boleta">Boleta</option>
                                                <option th:text="Factura"  value="Factura">Factura</option>
                                                <option th:text="Transacción"  value="Transaccion">Transaccion</option>
                                                <option th:text="Otro"  value="Otro">Otro</option>

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <Label>Número de documento de venta:</Label>
                                            <input type="text" class="form-control form-control-user2"
                                                   th:field="*{numerodocumentoventa}"/>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('numerodocumentoventa')}"
                                                 th:errors="*{numerodocumentoventa}">Error
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Tienda:</label>
                                            <select style="border-radius: 10rem" class="form-control"
                                                    th:field="*{tienda.idtienda}" type="item">
                                                <option th:each="tienda : ${listaTiendas}"
                                                        th:value="${tienda.getIdtienda()}" th:text="${
                                                        tienda.getNombre()}"></option>
                                            </select>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('tienda.idtienda')}"
                                                 th:errors="*{tienda.idtienda}"></div>
                                        </div>
                                        <div class="form-group">
                                            <Label>Lugar de venta:</Label>
                                            <input type="text" class="form-control form-control-user2"
                                                   th:field="*{lugardeventa}"/>
                                            <div class="text-danger" th:if="${#fields.hasErrors('lugardeventa')}"
                                                 th:errors="*{lugardeventa}">Error
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <Label>Precio Unitario del producto:</Label>
                                            <input type="text" class="form-control form-control-user2"
                                                   th:field="*{preciounitarioventa}"/>
                                            <div class="text-danger" th:if="${#fields.hasErrors('preciounitarioventa')}"
                                                 th:errors="*{preciounitarioventa}">Error
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Producto Vendido:</label>
                                            <select style="border-radius: 10rem" class="form-control"
                                                    th:field="*{inventario.idInventario}" type="item">
                                                <option th:each="inventariosede : ${listaInventarioSede}"
                                                        th:value="${inventariosede.inventario.getIdInventario()}"
                                                        th:text="${
                                                        inventariosede.inventario.producto.getCodigoGenerado()  + ' ' +
                                                        inventariosede.inventario.color
                                                        + ' quedan: ' + inventariosede.stock }"></option>
                                            </select>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('inventario.idInventario')}"
                                                 th:errors="*{inventario.idInventario}"></div>
                                        </div>
                                        <div class="form-group">
                                            <Label>Cantidad Vendida:</Label>
                                            <input type="text" class="form-control form-control-user2"
                                                   th:field="*{cantidad}" placeholder="Cantidad vendida"/>
                                            <div class="text-danger" th:if="${#fields.hasErrors('cantidad')}"
                                                 th:errors="*{cantidad}">Error
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <Label>Fecha de Venta:</Label>
                                            <input type="date" class="form-control form-control-user2"
                                                   th:field="*{fecha}"/>

                                            <div class="text-danger" th:if="${#fields.hasErrors('fecha')}"
                                                 th:errors="*{fecha}">Error
                                            </div>
                                        </div>
                                        <hr style="margin: 1.5rem 0">
                                        <button type="submit" class="btn btn-orange btn-block" style="border-radius: 10rem">
                                            Guardar
                                        </button>
                                        <a class="btn btn-danger btn-block" style="border-radius:10rem"
                                           th:href="@{'/sede/gestionVentas'}"> Cancelar</a>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <div class="card shadowA mb-4" style="margin-top: 4.9rem">
                                    <div class="card-header py-3 bg-white">
                                        <h6 class="m-0 font-weight-bold text-greenM">Recordar!</h6>
                                    </div>
                                    <div class="card-body bg-white" style="text-align: center">
                                        Por favor asegurarse de guardar los datos correctos, luego no se podrán editar.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="Fragmentos/FragmentosSede.html::script"></div>

</body>
</html>