<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosSede.html::cabecera(titulo='Ventas')">
</head>

<body id="page-top">


<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="Fragmentos/FragmentosSede.html::SideBarSede"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <div id="content">
            <div th:insert="Fragmentos/FragmentosSede.html::TopBar"></div>
            <div th:insert="Fragmentos/FragmentosSede.html::LogOut"></div>
            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-danger" role="alert"></div>
            <!-- Page Heading -->
            <div class="container-fluid">
                <div class="card shadowA mb-4">
                    <div class="card-header2 py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-gray-900" type="text">Registro de nueva Venta</h5>
                        </div>
                    </div>
                    <div class="card-body bg-gray-100">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <form method="post" th:action="@{'/sede/guardarVenta'}" th:object="${venta}">
                                        <input th:field="*{idventa}" type="hidden"/>
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                   th:field="*{nombrecliente}" placeholder="Nombre del Cliente"/>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('nombrecliente')}"
                                                 th:errors="*{nombrecliente}">Error
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                   th:field="*{tipodocumentoidentidad}"
                                                   placeholder="Tipo de Documento de Identidad"/>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('tipodocumentoidentidad')}"
                                                 th:errors="*{tipodocumentoidentidad}">Error
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                   th:field="*{numerodocumentoidentidad}"
                                                   placeholder="Número de documento de identidad"/>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('numerodocumentoidentidad')}"
                                                 th:errors="*{numerodocumentoidentidad}">Error
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                   th:field="*{tipodocumentoventa}"
                                                   placeholder="Tipo de documento de venta"/>
                                            <div class="text-danger" th:if="${#fields.hasErrors('tipodocumentoventa')}"
                                                 th:errors="*{tipodocumentoventa}">Error
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <Label>Número de documento de venta</Label>
                                            <input type="text" class="form-control"
                                                   th:field="*{numerodocumentoventa}"
                                                   placeholder="Numero de documento de venta"/>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('numerodocumentoventa')}"
                                                 th:errors="*{numerodocumentoventa}">Error
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tienda">Tienda:</label>
                                            <select th:field="*{tienda.idtienda}"
                                                    class="form-control form-control-user" id="tienda"
                                                    placeholder="tienda">
                                                <option th:each="tienda : ${listaTiendas}"
                                                        th:value="${tienda.getIdtienda()}" th:text="${
                                                        tienda.getNombre()}"></option>
                                            </select>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('tienda.idtienda')}"
                                                 th:errors="*{tienda.idtienda}"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" th:field="*{lugardeventa}"
                                                   placeholder="Lugar de Venta"/>
                                            <div class="text-danger" th:if="${#fields.hasErrors('lugardeventa')}"
                                                 th:errors="*{lugardeventa}">Error
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <Label>Precio Unitario del producto</Label>
                                            <input type="text" class="form-control"
                                                   th:field="*{preciounitarioventa}"
                                                   placeholder="Precio unitario de Venta"/>
                                            <div class="text-danger" th:if="${#fields.hasErrors('preciounitarioventa')}"
                                                 th:errors="*{preciounitarioventa}">Error
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inventariosede">Producto Vendido:</label>
                                            <select th:field="*{inventario.idInventario}"
                                                    class="form-control form-control-user" id="inventariosede"
                                                    placeholder="producto">
                                                <option th:each="inventariosede : ${listaInventarioSede}"
                                                        th:value="${inventariosede.inventario.getIdInventario()}"
                                                        th:text="${
                                                        inventariosede.inventario.producto.getCodigoGenerado()  + ' ' +
                                                        inventariosede.inventario.color
                                                        + ' quedan: ' + inventariosede.stock }"></option>
                                            </select>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('inventario.idInventario')}"
                                                 th:errors="*{inventario.idInventario}"></div>
                                        </div>
                                        <div class="form-group">
                                            <Label>Cantidad Vendida</Label>
                                            <input type="text" class="form-control" th:field="*{cantidad}"
                                                   placeholder="Cantidad vendida"/>
                                            <div class="text-danger" th:if="${#fields.hasErrors('cantidad')}"
                                                 th:errors="*{cantidad}">Error
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <Label>Fecha de Venta</Label>
                                            <input type="date" class="form-control" th:field="*{fecha}"/>

                                            <div class="text-danger" th:if="${#fields.hasErrors('fecha')}"
                                                 th:errors="*{fecha}">Error
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-searchTop btn-user btn-block">
                                            Guardar
                                        </button>
                                        <a class="btn btn-searchTop btn-danger btn-block" style="border-radius:10rem"
                                           th:href="@{'/gestor/gestionVentas'}"> Cancelar</a>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <br>
                                <br>
                                <div class="card shadowA mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-greenM">Recordar!</h6>
                                    </div>
                                    <div class="card-body">
                                        Por favor asegurarse de guardar los datos correctos, luego no se podrán editar.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="Fragmentos/FragmentosSede.html::script"></div>

</body>
</html>