<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosSede.html::cabecera(titulo='Distribuidor')">
</head>
<body id="page-top">

    <div id="wrapper">
        <div th:replace="Fragmentos/FragmentosSede.html::SideBarSede"></div>
        <div id="content-wrapper" class="d-flex flex-column bg-white">
            <div id="content">
                <div th:insert="Fragmentos/FragmentosSede.html::TopBar"></div>
                <div th:insert="Fragmentos/FragmentosSede.html::LogOut"></div>
                <div class="container-fluid">
                        <div class="card shadowA mb-4">
                            <div class="card-header2 py-3 d-flex justify-content-between centrado">
                                <h5 class="m-0 font-weight-bold text-redM">Lista de Tiendas</h5>
                                <div class="col-lg-4">
                                    <a class="btn btn-gray-900 btn-user btn-block" th:href="@{/sede/registroRealTienda}">Nueva Tienda</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                                    <div th:if="${msgError != null}" th:text="${msgError}" class="alert alert-danger" role="alert"></div>
                                    <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr class = "bg-gray-900 text-white">

                                            <th>Nombre de tienda</th>
                                            <th>Editar/Eliminar</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr align="center" th:each="tienda, info: ${listaTiendas}">
                                            <td th:text="${tienda.nombre}"></td>
                                            <td align="center">
                                                <a style="margin-left: 10px" th:href="@{'/sede/editarTienda' + '?id=' + ${tienda.idtienda}}" class="far fa-edit text-orangeM"></a>
                                                <a style="margin-left: 10px" class="far fa-trash-alt text-redM" th:href="@{'/sede/borrarTienda' + '?id=' + ${tienda.idtienda}}"
                                                   data-toggle="modal" data-target="#modalborrar" th:attrappend="data-target=${tienda.idtienda}"></a>
                                                <!-- AQUI EMPIEZA EL MODAL DE BORRAR -->
                                                <div class="modal fade" id="modalborrar"  tabindex="-1" role="dialog" th:attrappend="id=${tienda.idtienda}" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header text-center">
                                                                <h4 class="modal-title w-100 font-weight-bold">Eliminar tienda del registro</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h6 th:text="'¿Está seguro que desea eliminar ' + ${tienda.nombre} + ' del registro?'"></h6>
                                                                    <a th:href="@{'/sede/borrarTienda' + '?id=' + ${tienda.idtienda}}" class="btn btn-danger btn-primary btn-block" >Eliminar permanentemente</a>
                                                                    <a th:href="@{/sede/registroTiendas}" class="btn btn-searchTop btn-user btn-block">Cancelar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- AQUI TERMINA EL MODAL DE BORRAR -->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div th:replace="Fragmentos/FragmentosSede.html::Script"></div>

</body>

</html>