<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosSede.html::cabecera(titulo='Distribuidor')">
</head>

<body id="page-top">

    <div id="wrapper">
        <div th:replace="Fragmentos/FragmentosSede.html::SideBarSede"></div>
        <div id="content-wrapper" class="d-flex flex-column bg-white">
            <div id="content">
                <div th:insert="Fragmentos/FragmentosSede.html::TopBar"></div>
                <div th:insert="Fragmentos/FragmentosSede.html::LogOut"></div>
                <div class="container-fluid">
                    <div>
                        <div class="form-group col-md-4" >
                            <form method="post" class="user" th:action="@{/sede/guardarTienda}" th:object="${tienda}">
                                <div class="form-group">
                                    <input th:value="${tienda.idtienda}" name="idtienda" type="hidden" />
                                    <label>Nombre de Tienda</label>
                                    <input th:field="*{nombre}" type="text" class="form-control form-control-user">

                                    <label>ID Sede</label>
                                    <input th:field="*{sede.idsede}" type="text" class="form-control form-control-user">

                     <!--               <label for="inputAddress2">Código del Producto</label>
                                    <input type="text" class="form-control" id="inputAddress2" >

                                    <label for="inputAddress3">Cantidad</label>
                                    <input type="text" class="form-control" id="inputAddress3" >

                                    <label for="inputAddress3">Fecha (en que se dejó el producto)</label>
                                    <input type="date" class="form-control" id="inputAddress8" >

                                    ${tienda.idtienda==null?'Registrar':'Actualizar'
                     -->
                                </div>
                                <button type="submit" class="btn btn-user btn-primary btn-block" th:text="${tienda.idtienda==null?'Registrar':'Actualizar'}"></button>
                                <a th:href="@{/sede/principal}" class="btn btn-searchTop btn-user btn-block">Cancelar</a>
                            </form>
                        </div>

                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-gray-900">Registro de ventas</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>ID Tienda</th>
                                        <th>Nombre de tienda</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>ID Tienda</th>
                                        <th>Nombre de tienda</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr align="center" th:each="tienda, info: ${listaTiendas}">
                                        <td th:text="${tienda.idtienda}"></td>
                                        <td th:text="${tienda.nombre}"></td>
                                        <td align="center">
                                            <a style="margin-left: 10px" th:href="@{'/sede/editarTienda' + '?id=' + ${tienda.idtienda}}" class="far fa-list-alt text-orangeM" ></a>
                                            <a style="margin-left: 10px" th:href="@{'/sede/borrarTienda' + '?id=' + ${tienda.idtienda}}"class="far fa-trash-alt text-redM"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div th:replace="Fragmentos/FragmentosSede.html::Script"></div>

</body>

</html>