<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosAdmin.html::cabecera(titulo='Inicio de Sesión')">
</head>

<body class="fondo">

    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-12 col-md-9">
                <br>
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row h-25">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image h-25">
                                <img th:if="${param.error}" th:src="@{/img/imgse.png}" width="362px" height="565.4px">
                                <img th:unless="${param.error}" th:src="@{/img/imgse.png}" width="362px" height="522.2px">
                            </div>
                            <div class="col-lg-6 bg-gray-100 h-25">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img th:src="@{/img/logofinal.jpg}" height="120px" width="240px">
                                    </div>
                                    <br><br><br>
                                    <form class="user" th:action="@{/processLogin}" method="post">
                                        <div class="form-group">
                                            <input type="email" name="correo" class="form-control-log form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control-log form-control-user" id="exampleInputPassword" placeholder="Password">
                                        </div>
                                        <h6 th:if="${param.error}" class="text-danger" style="text-align: center; font-size: 0.8rem; padding-bottom: 1rem">Acceso Denegado </h6>
                                        <div style="font-size:0.8rem;text-align: center" class="text-danger" th:if="${msg!=null}" th:text="${msg}"></div>
                                        <br>
                                        <button  type="submit" class="btn btn-log btn-user btn-block" >Ingresar</button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html" th:href="@{/system/recuperarCont}" >Recuperar Contraseña</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="Fragmentos/FragmentosAdmin.html::script"></div>

</body>
</html>
