<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Registrar Compra')">

</head>

<body id="page-top">
<div id="wrapper">
    <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <div id="content">
            <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
            <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold text-redM">Registrando un Producto en Inventario</h4>
                    </div>
                    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-danger" role="alert"></div>
                    <div class="card-body">
                        <form method="post" th:action="@{/gestor/guardarProductoEnInventario}" th:object="${historial}"
                              enctype="multipart/form-data">
                            <input th:value="*{idhistorial}" name="idhistorial" type="hidden"/>
                            <div class="form-group col-md-6">
                                <label>Facilidator </label>
                                <input style="border-radius: 10rem" type="text" class="form-control"
                                       th:field="*{facilitador}">
                                <div class="text-danger" th:if="${#fields.hasErrors('facilitador')}"
                                     th:errors="*{facilitador}"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Costo Tejedor</label>
                                <input style="border-radius: 10rem" type="text" class="form-control"
                                       th:field="*{costotejedor}">
                                <div class="text-danger" th:if="${#fields.hasErrors('costotejedor')}"
                                     th:errors="*{costotejedor}"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Fecha de Ingreso al Inventario</label>
                                <input style="border-radius: 10rem" type="date" class="form-control"
                                       th:field="*{fecha}">
                                <div class="text-danger" th:if="${#fields.hasErrors('fecha')}"
                                     th:errors="*{fecha}"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Producto </label>
                                <select style="border-radius: 10rem" class="form-control"
                                        th:field="*{inventario.producto.idProducto}">
                                    <option th:each="productos : ${litaProductos}" th:value="${productos.idProducto}"
                                            th:text="${productos.codigoGenerado}">uno
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Cantidad </label>
                                <input style="border-radius: 10rem" type="text" class="form-control"
                                       th:field="*{cantidad}">
                                <div class="text-danger" th:if="${#fields.hasErrors('cantidad')}"
                                     th:errors="*{cantidad}"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Comentario </label>
                                <input style="border-radius: 10rem" type="text" class="form-control"
                                       th:field="*{inventario.comentario}">
                                <div class="text-danger" th:if="${#fields.hasErrors('inventario.comentario')}"
                                     th:errors="*{inventario.comentario}"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Precio Moscoy </label>
                                <input style="border-radius: 10rem" type="text" class="form-control"
                                       th:field="*{inventario.preciomosqoy}">
                                <div class="text-danger" th:if="${#fields.hasErrors('inventario.preciomosqoy')}"
                                     th:errors="*{inventario.preciomosqoy}"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Color </label>
                                <input style="border-radius: 10rem" type="text" class="form-control"
                                       th:field="*{inventario.color}">
                                <div class="text-danger" th:if="${#fields.hasErrors('inventario.color')}"
                                     th:errors="*{inventario.color}"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Foto </label>
                                <input style="border-radius: 10rem" type="file" class="form-control" name="archivo">
                            </div>

                            <br>
                            <div class="form-row col-md-5">

                                <button type="submit" class="btn btn-searchTop btn-user btn-block">Guardar</button>
                                <a th:href="@{/gestor/gestorPrincipal}" class="btn btn-danger btn-user btn-block">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>


</body>
</html>