<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="FragmentosGestor/Fragmentos.html::cabecera(titulo='Categoría')">
</head>

<body id="page-top">

<div id="wrapper">
    <div th:insert="FragmentosGestor/Fragmentos.html::SideBarGestor"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <!-- Main Content -->
        <div id="content">
            <div th:insert="FragmentosGestor/Fragmentos.html::TopBar"></div>
            <!-- Page Heading -->
            <div class="container-fluid">
                <div class="card shadowA mb-4">
                    <div class="card-header2 py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-redM" th:text="${categoria.idCategoria==null?'Registro de nueva categoría':'Editar Categoría'}"></h5>
                        </div>
                    </div>
                    <div class="card-body bg-gray-100">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <form method="post" class="user" th:href="@{/gestor/gestorGuardarCategoria}" th:object="${categoria}">
                                        <div class="form-group">
                                            <input th:field="*{nombre}" type="text" class="form-control form-control-user" id="nombre" placeholder="Nombre">
                                        </div>
                                        <div class="form-group">
                                            <input th:field="*{codigo}" type="text" class="form-control form-control-user" id="apellidoPaterno" placeholder="Apellido Paterno">
                                        </div>
                                        <button type="submit" class="btn btn-primary" th:text="${categoria.idCategoria==null?'Registrar':'Actualizar'}"></button>
                                        <a th:href="@{/gestor/gestorListaCategoria}" class="btn btn-searchTop btn-user btn-block">
                                            Cancelar
                                        </a>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <br>
                                <br>
                                <div class="card shadowA mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-greenM">Recordar!</h6>
                                    </div>
                                    <div class="card-body">
                                        El Gestor tiene el control total sobre todo el inventario. Así mismo, puede crear, editar y mantener sedes.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="FragmentosAdmin/Fragmentos.html::script"></div>

</body>


</html>