<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Editar Artesano')">
</head>

<body id="page-top">

<div id="wrapper">
    <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <div id="content">
            <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
            <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
            <!-- Page Heading -->
            <div class="container-fluid">
                <div class="card shadowA mb-4">
                    <div class="card-header2 py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-gray-900" type="text">Editar Artesano</h5>
                            <div th:if="${msgError != null}" th:text="${msgError}" class="alert alert-danger" role="alert"></div>
                        </div>
                    </div>
                    <div class="card-body bg-gray-100">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <form method="post" class="user" th:action="@{/gestor/gestorGuardarArtesano}"  th:object="${artesano}">
                                        <input th:value="*{idArtesano}" name="idArtesano" type="hidden" />
                                        <div class="form-group">
                                            <input th:field="*{nombre}" type="text" class="form-control form-control-user" id="nombre" placeholder="Nombre">
                                            <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                                        </div>
                                        <div class="form-group">
                                            <input th:field="*{apellidopaterno}" type="text" class="form-control form-control-user" id="apellidoPaterno" placeholder="Apellido Paterno">
                                            <div class="text-danger" th:if="${#fields.hasErrors('apellidopaterno')}" th:errors="*{apellidopaterno}"></div>
                                        </div>
                                        <div class="form-group">
                                            <input th:field="*{apellidomaterno}" type="text" class="form-control form-control-user" id="apellidoMaterno" placeholder="Apellido Materno">
                                            <div class="text-danger" th:if="${#fields.hasErrors('apellidomaterno')}" th:errors="*{apellidomaterno}"></div>
                                        </div>
                                        <!--          <div class="form-group">
                                            <input th:field="*{codigo}" type="hidden" class="form-control form-control-user" id="codigo" placeholder="Codigo de artesano (Iniciales)">

                                        </div>   -->

                                        <div class="form-group">
                                            <select th:field="*{comunidad}"  class="form-control" id="comunidad" style="border-radius:10rem">
                                                <option th:each="comunidad : ${listaComunidad}" th:value="${comunidad.idComunidad}" th:text="${comunidad.nombre}"></option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <input th:field="*{codigo}" type="text" class="form-control form-control-user" id="codigo" placeholder="Codigo de artesano (Iniciales)">
                                            <div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
                                        </div>

                                        <button type="submit" class="btn btn-searchTop btn-user btn-block" th:text="${artesano.idArtesano==null?'Registrar':'Actualizar'}">
                                           Actualizar
                                        </button>
                                        <a class="btn btn-searchTop btn-danger btn-block" style="border-radius:10rem" th:href="@{'/gestor/gestorListaArtesano'}"> Cancelar</a>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <br>
                                <br>
                                <div class="card shadowA mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-greenM">Recordar!</h6>
                                    </div>
                                    <div class="card-body">
                                        Aquí solo podrás modificar información del artesano ya ingresado. Si buscas ingresar uno nuevo, debes dirigirte a la ventana anterior y hacer click en "Nuevo Artesano".
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>

</body>
</html>




