<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Registrar Compra')">
</head>

<body id="page-top">
<div id="wrapper">
    <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <div id="content">
            <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
            <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card shadow mb-4" >
                    <div class="card-header2 py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-redM">Editar Producto</h5>
                        </div>
                    </div>
                    <div th:if="${msg != null}" th:text="${msg}" align="center" class="alert alert-danger" role="alert"></div>
                    <div class="card-body">
                        <form method="post" th:action="@{/gestor/guardarProducto}"  th:object="${formulario}">
                            <input th:value="*{crearActualizar}" name="crearActualizar" type="hidden"/>
                            <input th:value="*{moda}" name="modalidad" type="hidden"/>
                            <div  class="form-group col-md-6" >
                                <label >Nombre del Producto</label>
                                <input type="text" class="form-control" th:field="*{nombreProducto}" style="border-radius: 10rem">
                                <div class="text-danger" th:if="${#fields.hasErrors('nombreProducto')}" th:errors="*{nombreProducto}" ></div>
                            </div>
                            <div  class="form-group col-md-6" >
                                <label th:if="${formulario.crearActualizar == 0}" >Código del Nombre del Producto</label>
                                <input type="hidden" class="form-control" id="codigoProducto" name="codigoProducto" style="border-radius: 10rem"
                                       th:value="*{codigoProducto}">
                                <div  class="text-danger" th:if="${#fields.hasErrors('codigoProducto') || formulario.crearActualizar == 0}" th:errors="*{codigoProducto}" ></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label >Descripción</label>
                                <input type="text" class="form-control" id="descripcion" name="descripcion" style="border-radius: 10rem"
                                       th:value="*{descripcion}">
                                <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" ></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label  th:if="${formulario.crearActualizar == 0}" >Código de la Descripción</label>
                                <input type="hidden" class="form-control" id="codDescripcion" name="codDescripcion" style="border-radius: 10rem"
                                       th:value="*{codDescripcion}">
                                <div  class="text-danger" th:if="${#fields.hasErrors('codDescripcion') || formulario.crearActualizar == 0}" th:errors="*{codDescripcion}" ></div>
                            </div>
                            <div th:if="${tipo.equalsIgnoreCase('consignado')}" class="form-group col-md-6">
                                <label>Fecha Fin de la Consignación</label>
                                <input type="date" class="form-control" style="border-radius: 10rem"
                                       th:field="*{fechafin}">
                                <div class="text-danger"
                                     th:if="${#fields.hasErrors('fechafin')}"
                                     th:errors="*{fechafin}"></div>
                            </div>

                            <br>
                            <div class="form-row col-md-5">
                                <button type="submit" style="border-radius:10rem" class="btn btn-searchTop btn-user btn-block">
                                    Guardar
                                </button>
                                <a class="btn btn-danger btn-user btn-block"  style="border-radius:10rem" th:href="@{/gestor/productos}"> Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>
</body>
</html>