<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Gestión Ventas Gestor')">
</head>

<body id="page-top">
<div id="wrapper">
    <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <div id="content">
            <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
            <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="col-lg-2">
                    <a class="btn btn-gray-900 btn-user btn-block" th:href="@{/gestor/nuevaVenta}">Añadir Venta</a>
                </div>
                <br>
                <div class="card shadowA mb-4">
                    <div class="card-header2 py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-redM">Lista de Ventas</h5>
                            <form method="post" th:action="@{/gestor/buscarVenta}">
                                <div class="input-group">
                                    <input name="searchField" type="text"
                                           class="form-control bg-light border-0 small bg-white"
                                           placeholder="Filtrar..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-searchTop text-gray-900" type="submit">
                                            <i class="fas fa-search fa-sm text-gray-100"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr class="bg-gray-900 text-white" align="center">
                                    <th>Nombre del Cliente</th>
                                    <th>Tipo de documento de Identidad</th>
                                    <th>N° de documento de Identidad</th>
                                    <th>Tipo de documento de Venta</th>
                                    <th>Número de documento de Venta</th>
                                    <th>Lugar de Venta</th>
                                    <th>Precio unitario de Venta</th>
                                    <th>Cantidad adquirida</th>
                                    <th>Fecha de venta</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="venta, info : ${listaVentas}">
                                    <td th:text="${venta.nombrecliente}"></td>
                                    <td th:text="${venta.tipodocumentoidentidad}"></td>
                                    <td th:text="${venta.numerodocumentoidentidad}"></td>
                                    <td th:text="${venta.tipodocumentoventa}"></td>
                                    <td th:text="${venta.numerodocumentoventa}"></td>
                                    <td th:text="${venta.lugardeventa}"></td>
                                    <td th:text="${venta.preciounitarioventa}"></td>
                                    <td th:text="${venta.cantidad}"></td>
                                    <td th:text="${venta.fecha}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>

</body>
</html>