<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <script src="moment-2.10.3.js"></script>
    <script src="bootstrap-datetimepicker.js"></script>

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="FragmentosGestor/Fragmentos.html :: NadvarGestor1">

    </div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-white">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="FragmentosGestor/Fragmentos.html :: TopbarGestor">

            </div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold text-gray-900">Reporte de Ventas</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="m-0 font-weight-bold text-gray-900">Definición de Parámetros</h5>
                        <form>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="item">ITEM</label>
                                    <select class="form-control" type="item" id="item">
                                        <option value="">Ninguno</option>
                                        <option value="">Nombre de Producto</option>
                                        <option value="">Código</option>
                                    </select>
                                </div>
                                    <div class="form-group col-md-6">
                                        <label for="filtro2">Ingresar el campo de búsqueda de acuerdo al ITEM elegido</label>
                                        <input type="filtro2" class="form-control" id="filtro2" value="" >
                                    </div>
                            </div>

                            <hr style="width: 75%; height: 10px">

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="sede">SEDE</label>
                                    <select class="form-control" type="item" id="sede">
                                        <option value="">Ninguno</option>
                                        <option value="">Sede 1</option>
                                        <option value="">Sede 2</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="comunidad">COMUNIDAD</label>
                                    <select class="form-control" type="item" id="comunidad">
                                        <option value="">Ninguno</option>
                                        <option value="">Comunidad 1</option>
                                        <option value="">Comunidad 2</option>
                                    </select>
                                </div>

                            </div>

                            <hr style="width: 75%; height: 10px">

                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="custom-control custom-checkbox col-md-3">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                    <label class="custom-control-label" for="defaultUnchecked">Filtro por Cliente</label>
                                </div>

                                <div class="form-group col-md-3">
                                    <input type="filtroCliente" class="form-control" id="filtroCliente" value="Nombre o DNI" >
                                </div>
                                <div class="col-md-3"></div>


                            </div>

                            <hr style="width: 75%; height: 10px">

                            <div class="row">
                                <label >Margen de Fechas</label>
                            </div>
                            <div class="row">
                                <div class='col-md-5'>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker6'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-5'>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker7'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="form-row col-md-3">
                                    <div class="form-group col-md-8">
                                        <a href="#" class="btn btn-danger" th:href="@{/gestor/gestorPrincipal}">Cancelar</a>
                                    </div>
                                    <div class="form-group col-md-3"  >
                                        <a href="#" class="btn btn-primary" th:href="@{/gestor/gestorReporteVentas2}">Siguiente</a>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </form>

                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>

<div th:replace="FragmentosGestor/Fragmentos.html :: ModalCerrarSesion">

</div>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<---Calendar  DataTimePicker -->
<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker();
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
</body>
</html>