<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Reporte')">
</head>

<body id="page-top">

    <div id="wrapper">
        <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
        <div id="content-wrapper" class="d-flex flex-column bg-white">
            <div id="content">
                <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
                <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-gray-900">Reporte de Ventas</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="m-0 font-weight-bold text-gray-900">Reporte avanzado</h5><br>
                            <form method="post" th:action="@{/gestor/crearExcelPorCliente}" id="form1">
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label for="cliente" id="nombreVariable">Filtrar por:</label>
                                        <select class="form-control" type="item" id="client" name="filtrado" onchange="lista(this.value)">
                                            <option th:value="0">------</option>
                                            <option th:value="1">Cliente</option>
                                            <option th:value="2">Sede</option>
                                            <option th:value="3">Producto</option>
                                            <option th:value="4">Comunidad</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="ddlCategoria">Nombre</label>
                                        <select class="form-control" type="item" id="ddlCategoria" name="estandar">
                                            <option th:value="nada"
                                                    th:text="------" >Samuel Ayala</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="mes">Mes:</label>
                                        <select class="form-control" type="item" id="mes" name="mes">
                                            <option th:value="todo">todos los meses</option>
                                            <option th:value="trimestre">trimestral</option>
                                            <option th:each="lista1 : ${listaMeses}" th:value="${lista1.fecha}"
                                                    th:text="${lista1.fechaname}" >Samuel Ayala</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="año">Año:</label>
                                        <select class="form-control" type="item" id="año" name="año">
                                            <option th:each="lista1 : ${listaAnhos}" th:value="${lista1.fecha}"
                                                    th:text="${lista1.fecha}" >Samuel Ayala</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <p>Generar reporte:</p>
                                        <button type="submit" class="mybtn"><img th:src="@{/img/excel-xls-icon.png}" style="width:40px;"></button>
                                    </div>
                                </div>
                            </form>

                            <div style="display: none">
                                <select class="form-control" type="item" id="idsede" name="estandar">
                                    <option th:each="lista1 : ${listasedes}" th:value="${lista1.nombre}"
                                            th:text="${lista1.nombre}" >Biofluming</option>
                                </select>
                                <select class="form-control" type="item" id="cliente" name="estandar">
                                    <option th:each="listam : ${listaClientes}" th:value="${listam.nombrecliente}"
                                            th:text="${listam.nombrecliente}" >Biofluming</option>
                                </select>
                                <select class="form-control" type="item" id="articulo" name="estandar">
                                    <option th:each=" li : ${listaProductosVendidos}" th:value="${li.nombre}"
                                            th:text="${li.nombre}" >Biofluming</option>
                                </select>
                                <select class="form-control" type="item" id="comunidad" name="estandar">
                                    <option th:each=" lis : ${listaComunidades}" th:value="${lis.comunidad}"
                                            th:text="${lis.comunidad}" >Biofluming</option>
                                </select>
                            </div>

                            <hr style="width: 75%; height: 10px">
                            <h5 class="m-0 font-weight-bold text-gray-900">Reporte total</h5><br>
                            <form method="post" th:action="@{/gestor/crearExcelTotal}">
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label for="mes4">Mes:</label>
                                        <select class="form-control" type="item" id="mes4" name="mes4">
                                            <option th:value="todo">todos los meses</option>
                                            <option th:value="trimestre">trimestral</option>
                                            <option th:each="lista1 : ${listaMeses}" th:value="${lista1.fecha}"
                                                    th:text="${lista1.fechaname}" >Samuel Ayala</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="año4">Año:</label>
                                        <select class="form-control" type="item" id="año4" name="año4">
                                            <option th:each="lista1 : ${listaAnhos}" th:value="${lista1.fecha}"
                                                    th:text="${lista1.fecha}" >Samuel Ayala</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <p>Generar reporte:</p>
                                        <button type="submit"><img th:src="@{/img/excel-xls-icon.png}" style="width:40px;"></button>
                                    </div>
                                </div>
                            </form>

                            <script>
                                function lista(tipo) {
                                    $('#ddlCategoria option').remove();

                                    if (tipo == 1) {
                                        $("#cliente option").each(function() {
                                            $('#ddlCategoria').append('\'<option value="'+$(this).text()+'">'+$(this).text()+'</option>\'');
                                            var cambioAction = $('#form1');
                                            cambioAction.attr("action", "/proyecto/gestor/crearExcelPorCliente");
                                        })
                                    }
                                    if (tipo == 2) {
                                        $("#idsede option").each(function() {
                                            $('#ddlCategoria').append('\'<option value="'+$(this).text()+'">'+$(this).text()+'</option>\'');
                                            var cambioAction = $('#form1');
                                            cambioAction.attr("action", "/proyecto/gestor/crearExcelPorSede");
                                        })
                                    }
                                    if (tipo == 3) {
                                        $("#articulo option").each(function() {
                                            $('#ddlCategoria').append('\'<option value="'+$(this).text()+'">'+$(this).text()+'</option>\'');
                                            var cambioAction = $('#form1');
                                            cambioAction.attr("action", "/proyecto/gestor/crearExcelPorArticulo");
                                        })
                                    }
                                    if (tipo == 4) {
                                        $("#comunidad option").each(function() {
                                            $('#ddlCategoria').append('\'<option value="'+$(this).text()+'">'+$(this).text()+'</option>\'');
                                            var cambioAction = $('#form1');
                                            cambioAction.attr("action", "/proyecto/gestor/crearExcelPorComunidad");
                                        })
                                    }
                                }
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>
</body>
</html>