<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosAdmin.html::cabecera(titulo='Nuevo Gestor')">
</head>

<body id="page-top">

<div id="wrapper">
    <div th:insert="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <!-- Main Content -->
        <div id="content">
            <div th:insert="Fragmentos/FragmentosGestor.html:: TopBar"></div>
            <div th:insert="Fragmentos/FragmentosGestor.html:: LogOut"></div>
            <!-- Page Heading -->
            <div class="container-fluid">
                <div class="card shadowA mb-4">
                    <div class="card-header2 py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-redM">Registro de nuevo envio</h5>
                        </div>
                    </div>
                    <div class="card-body bg-gray-100">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <form method="post" th:action="@{/gestor/gestorGuardarEnvio}"
                                          th:object="${estadoenviosede}">
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="fecha">Fecha de envio:</label>
                                                <input th:field="*{fecha}" type="date" class="form-control"
                                                       placeholder="fecha">
                                                <div class="text-danger" th:if="${#fields.hasErrors('fecha')}"
                                                     th:errors="*{fecha}"></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="cantidad">Cantidad enviada:</label>
                                                <input th:field="*{cantidad}" type="number"
                                                       class="form-control form-control-user" placeholder="cantidad">
                                                <div class="text-danger" th:if="${#fields.hasErrors('cantidad')}"
                                                     th:errors="*{cantidad}"></div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="comentario">Comentarios de envio:</label>
                                            <input th:field="*{comentario}" type="text"
                                                   class="form-control form-control-user" placeholder="comentario">
                                            <div class="text-danger" th:if="${#fields.hasErrors('comentario')}"
                                                 th:errors="*{comentario}"></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inventariosede">Producto a enviar:</label>
                                            <select th:field="*{inventariosede.inventario.idInventario}"
                                                    class="form-control form-control-user" id="inventariosede"
                                                    placeholder="producto">
                                                <option th:each="inventario : ${listaInventario}"
                                                        th:value="${inventario.idInventario}" th:text="${
                                                        inventario.producto.getCodigoGenerado()  + ' ' +
                                                        inventario.color
                                                        + ' quedan: ' + inventario.stock }"></option>
                                            </select>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('inventariosede.inventario.idInventario')}"
                                                 th:errors="*{inventariosede.inventario.idInventario}"></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="listaSede">Sede destino:</label>
                                            <select th:field="*{inventariosede.sede.idsede}"
                                                    class="form-control form-control-user" id="listaSede"
                                                    placeholder="Sede">
                                                <option th:each="sede : ${listaSede}" th:value="${sede.idsede}"
                                                        th:text="${
                                                        sede.nombre }"></option>
                                            </select>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('inventariosede.sede.idsede')}"
                                                 th:errors="*{inventariosede.sede.idsede}"></div>
                                        </div>
                                        <button type="submit" class="btn btn-searchTop btn-user">Registrar</button>

                                    </form>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <br>
                                <br>
                                <div class="card shadowA mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-greenM">Recordar!</h6>
                                    </div>
                                    <div class="card-body">
                                        Este envio debera ser aceptado por las sedes.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>

</body>

</html>