<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Inventario')">
</head>

<body id="page-top">

    <div id="wrapper">
        <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
        <div id="content-wrapper" class="d-flex flex-column bg-white">
            <div id="content">
                <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
                <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
                <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-redM">Inventario</h5>
                            <form method="post" th:action="@{/gestor/gestorBuscarInventario}">
                                <div class="input-group" >
                                    <input name="searchField" type="text" class="form-control bg-light border-0 small bg-white" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-searchTop text-gray-900" type="submit">
                                            <i class="fas fa-search fa-sm text-gray-100"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <a class="btn btn-warning mt-4 mb-4" th:href="@{/gestor/gestorListarSinStock}">Lista de Productos sin Stock</a>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <a class="btn btn-warning mt-4 mb-4" th:href="@{/gestor/gestorRegProducto}">Agregar Nuevo Producto</a>
                                        </div>
                                    </div>
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Linea</th>
                                            <th>Categoría</th>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Tamaño</th>
                                            <th>Comunidad</th>
                                            <th>Tipo</th>
                                            <th>Stock total</th>
                                            <th>Ver detalles</th>
                                            <th>Editar/borrar</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr align="center" th:each="productos, info: ${inventario}">
                                            <td th:text="${productos.producto.denominacion.linea.nombre}"></td>
                                            <td th:text="${productos.producto.categoria.nombre}"></td>
                                            <td th:text="${productos.producto.denominacion.nombre}"></td>
                                            <td th:text="${productos.comentario}"></td>
                                            <td th:text="${productos.producto.tamanho.nombre}"></td>
                                            <td th:text="${productos.producto.comunidad.nombre }"></td>
                                            <td th:text="${productos.producto.adquisicion.modalidad}"></td>
                                            <td th:text="${productos.stock}"></td>
                                            <td align="center">
                                                <a th:href="@{'/gestor/gestorDetallesProducto?id='+${productos.idInventario}}">
                                                    <i class="far fa-list-alt text-greenM"></i>
                                                </a>
                                            </td>
                                            <td align="center">
                                                <a th:href="@{'/gestor/gestorEditProdCompra?id='+${productos.idInventario}}">
                                                    <i class="far fa-edit text-orangeM" style="margin-right: 5px"></i>
                                                </a>
                                                <a th:href="@{'/sede/borrarProducto?id='+${productos.idInventario}}">
                                                    <i class="far fa-trash-alt text-redM" style="margin-left: 5px"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>

</body>

</html>