<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="FragmentosAdmin/Fragmentos.html::cabecera(titulo='Página Principal')">
</head>

<body id="page-top">
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="FragmentosGestor/Fragmentos.html :: NadvarGestor1">

        </div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column bg-white">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="FragmentosGestor/Fragmentos.html :: TopbarGestor">

                </div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->

                <!-- /.container-fluid -->
                <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-gray-900">Lista De Comunidades</h6>
                            <form class="-angle-double-right d-none d-sm-inline-block form-inline mr-auto ml-md-20 my-2 my-md-30 mw-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-10 small bg-white" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-log text-gray-900" type="button">
                                            <i class="fas fa-search fa-sm text-gray-100"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <!--

                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <a th:href="@{/system/gestorRegistroComunidad}"  class="btn btn-warning btn-icon-split">
                                            <span class="text">Añadir comunidad</span>
                                        </a>
                                    </div>
                                </div>   -->

                                <div class="col-sm-12 col-md-6">
                                    <a class="btn btn-warning mt-4 mb-4" th:href="@{/gestor/gestorRegistroComunidad}">Añadir comunidad</a>
                                </div>

                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Código</th>
                                        <th>Editar/Borrar</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    @{'/employee/edit' + '?id=' + ${employee.id}}

                                        <tr th:each="x : ${listaComunidades}" align="center">
                                            <td th:text="${x.nombre}"></td>
                                            <td th:text="${x.codigo}"></td>
                                            <td align="center">
                                                <a th:href="@{'/gestor/gestorEditComunidad'+'?id='+${x.idComunidad}}">
                                                    <i class="far fa-edit text-orangeM" style="margin-right: 5px"></i>
                                                </a>
                                                <a th:href="@{'/gestor/gestorBorarComunidad'+'?id='+${x.idComunidad}}">
                                                    <i class="far fa-trash-alt text-redM" style="margin-left: 5px"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>

<div th:replace="FragmentosGestor/Fragmentos.html :: ModalCerrarSesion">

</div>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>


</body>
</html>