<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="FragmentosAdmin/Fragmentos.html::cabecera(titulo='Lista Comunidad')">
</head>

<body id="page-top">

<div id="wrapper">
    <div th:insert="FragmentosGestor/Fragmentos.html::SideBarGestor"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <!-- Main Content -->
        <div id="content">
            <div th:insert="FragmentosGestor/Fragmentos.html::TopBar"></div>
            <!-- Page Heading -->
            <div class="container-fluid">
                <div class="col-lg-2">
                    <a class="btn btn-gray-900 btn-user btn-block" th:href="@{/gestor/gestorRegistroArtesano}">Ingresar Comunidad</a>
                </div>
                <br>
                <div class="card shadowA mb-4">
                    <div class="card-header2 py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-redM">Lista de Artesanos</h5>
                            <form >
                                <div class="input-group" th:action="@{/gestor/gestorBuscarComunidad}">
                                    <input type="text" class="form-control bg-light border-0 small bg-white" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-searchTop text-gray-900" type="button">
                                            <i class="fas fa-search fa-sm text-gray-100"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body bg-gray-100">
                        <div class="table-responsive bg-white">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr class="bg-gray-900 text-white" align="center">
                                    <th>Nombre</th>
                                    <th>Codigo</th>
                                    <th>Editar/Borrar</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr align="center">
                                    <th>Nombre</th>
                                    <th>Codigo</th>
                                    <th>Editar/Borrar</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr align="center" th:each="comunidad, info: ${listaComunidad}">
                                    <td th:text="${comunidad.nombre}"></td>
                                    <td th:text="${comunidad.codigo}"></td>
                                    <td align="center">
                                        <a style="margin-left: 10px" href="*" >
                                            <i th:href="@{'/gestor/gestorEditComunidad' + '?id=' + ${comunidad.idComunidad}}" class="far fa-list-alt text-orangeM"></i>
                                            <i th:href="@{'/gestor/gestorBorarComunidad' + '?id=' + ${comunidad.idComunidad}}"class="far fa-trash-alt text-redM"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="FragmentosAdmin/Fragmentos.html::script"></div>

</body>


</html>