<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Lista Comunidad')">
</head>

<body id="page-top">
    <div id="wrapper">
        <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
        <div id="content-wrapper" class="d-flex flex-column bg-white">
            <div id="content">
                <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
                <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
                <!-- Page Heading -->
                <div class="container-fluid">
                 <!--   <div class="col-lg-2">
                        <a class="btn btn-gray-900 btn-user btn-block" th:href="@{/gestor/gestorRegistroComunidad}">Nueva Comunidad</a>
                    </div>
                    <br> -->
                    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                    <div class="card shadowA mb-4">
                        <div class="card-header2" style="padding-top: 0.6rem; padding-bottom: 0.6rem">
                            <div class="d-flex justify-content-between centrado">
                                <h5 class="m-0 font-weight-bold text-redM">Lista de Comunidades</h5>
                                    <div style="width: 180px">
                                        <a class="btn btn-orange btn-user btn-block" th:href="@{/gestor/gestorRegistroComunidad}">Añadir Comunidad</a>
                                    </div>
                            </div>
                        </div>
                        <div class="card-body bg-gray-100">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr class="bg-gray-900 text-white" align="center">
                                        <th>Nombre</th>
                                        <th>Codigo</th>
                                        <th>Editar/Borrar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="bg-white" align="center" th:each="comunidad, info: ${listaComunidad}">
                                        <td th:text="${comunidad.nombre}"></td>
                                        <td th:text="${comunidad.codigo}"></td>
                                        <td align="center">
                                            <a style="margin-left: 10px"
                                               th:href="@{'/gestor/gestorEditComunidad' + '?idcomunidad=' + ${comunidad.idComunidad}}"
                                               class="far fa-edit text-orangeM">
                                               <!-- <i class="far fa-list-alt text-orangeM"></i> -->
                                            </a>
                                            <a style="margin-left: 10px"
                                               th:href="@{'/gestor/gestorBorarComunidad' + '?idcomunidad=' + ${comunidad.idComunidad}}"
                                               class="far fa-trash-alt text-redM">
                                               <!-- <i class="far fa-trash-alt text-redM"></i> -->
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>

</body>
</html>