<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Inventario')">
</head>

<body id="page-top">

<div id="wrapper">
    <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <div id="content">
            <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
            <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
            <div class="container-fluid">
                <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                <div class="card shadowA mb-4" >
                    <div class="card-header2" style="padding-top: 0.6rem; padding-bottom: 0.6rem">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-redM" th:text="${'Historial de: ' + inventario.producto.codigoGenerado + ' de color '+ inventario.color }">Inventario</h5>

                                <div class="col-lg-2">
                                    <a class="btn btn-orange btn-user btn-block" th:href="@{/gestor/gestorPrincipal}">Regresar</a>
                                </div>

                        </div>
                    </div>
                    <div class="card-body bg-gray-100">
                        <div class="table-responsive">

                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr class="bg-gray-900 text-white" align="center">
                                    <th>Fecha De Emisión</th>
                                    <th>Numero de Pedido</th>
                                    <th>Facilitador</th>
                                    <th>Cantidad</th>
                                    <th>Costo Tejedor</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="bg-white" align="center" th:each="historial, info: ${historiales}">
                                    <td th:text="${historial.fecha}"></td>
                                    <td th:text="${historial.numeropedido}"></td>
                                    <td th:text="${historial.facilitador}"></td>
                                    <td th:text="${historial.cantidad}"></td>
                                    <td th:text="${historial.costotejedor}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>

</body>

</html>