<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Información Persoanl')">
</head>

<body id="page-top">

<div id="wrapper">
    <div th:replace="Fragmentos/FragmentosGestor.html::SideBarGestor"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <!-- Main Content -->
        <div id="content">
            <div th:insert="Fragmentos/FragmentosGestor.html::TopBar"></div>
            <div th:insert="Fragmentos/FragmentosGestor.html::LogOut"></div>
            <div class="container-fluid">
                <div class="col-lg-3">
                    <a class="btn btn-gray-900 btn-user btn-block" th:href="@{/system}">Cambiar Contraseña</a>
                </div>
                <br>
                <!-- Page Heading -->
                <div class="card shadowA mb-4">
                    <div class="card-header2 py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-redM">Informacion Personal</h5>
                        </div>
                    </div>
                    <div class="card-body bg-gray-100">
                        <div class="table-responsive bg-white d-flex">
                            <div class="col-lg-6 ">
                                <div class="d-flex">
                                    <br>
                                    <form class="user">
                                        <br><br>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label>Correo:</label>
                                            </div>
                                            <input type="email" class="form-control form-control-user2" id="exampleInputEmail" placeholder="a20145976@pucp.pe">
                                        </div>
                                        <div class="form-group d-flex centrado">
                                            <div class="col-lg-6">
                                                <label>Teléfono:</label>
                                            </div>
                                            <input type="email" class="form-control form-control-user2" id="exampleInputEmail" placeholder="99844561">
                                        </div>
                                        <br>
                                        <br>
                                        <div class="d-flex">
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-10">
                                                <hr>
                                                <a th:href="@{/admin/principal}" class="btn btn-searchTop btn-user btn-block">
                                                    Guardar Cambios
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <br>
                            </div>
                            <div class="col-lg-6 ">
                                <br><br>
                                <div class="d-flex">
                                    <div class="col-lg-5 centrado">
                                        <p>Nombre:</p>
                                    </div>
                                    <div class="col-lg-6"><p>Anthony</p></div>
                                </div>
                                <hr>
                                <div class="d-flex">
                                    <div class="col-lg-5 centrado">
                                        <p>Apellidos:</p>
                                    </div>
                                    <div class="col-lg-6"><p>Rojas Lopez</p></div>
                                </div>
                                <hr>
                                <div class="d-flex">
                                    <div class="col-lg-5 centrado">
                                        <p>DNI:</p>
                                    </div>
                                    <div class="col-lg-6"><p th:text="489765115"></p></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div th:replace="Fragmentos/FragmentosGestor.html::script"></div>

</body>
</html>