<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Productos Enviados')">
</head>

<body id="page-top">

    <div id="wrapper">
        <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
        <div id="content-wrapper" class="d-flex flex-column bg-white">
            <div id="content">
                <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
                <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 text-gray-900 font-weight-bold text-primary">Productos Enviados</h6>
                            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Sede</th>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>Precio de venta</th>
                                            <th>Fecha de envío</th>
                                            <th>Estado</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p : ${listaProdEnv}">
                                            <td th:text="${p.getCodigogenerado()}"></td>
                                            <td th:text="${p.getNombre_sede()}"></td>
                                            <td th:text="${p.getNombre()}"></td>
                                            <td th:text="${p.getCantidad()}"></td>
                                            <td th:text="${p.getPreciomosqoy()}"></td>
                                            <td th:text="${p.getFecha()}"></td>
                                            <td th:text="${p.getEstado()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>

</body>
</html>