<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Productos Rechazados')">
</head>

<body id="page-top">

<div id="wrapper">
    <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <div id="content">
            <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
            <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
            <!-- Page Heading -->
            <div class="container-fluid">
                <div th:if="${msg!= null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                <div th:if="${msgError != null}" th:text="${msgError}" class="alert alert-danger" role="alert"></div>
                <div class="card shadowA mb-4" >
                    <div class="card-header2 py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-redM">Productos Rechazados</h5>
                        </div>
                    </div>
                    <div class="card-body bg-gray-100">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr style="vertical-align: center" class="bg-gray-900 text-white" align="center">
                                    <th>Código</th>
                                    <th>Sede</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Fecha de envío</th>
                                    <th>Estado</th>
                                    <th>Comentario</th>
                                    <th>Confirmar llegada</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="bg-white" align="center" th:each="p : ${listaProdRecha}">
                                    <td th:text="${p.getCodigogenerado()}"></td>
                                    <td th:text="${p.getNombre_sede()}"></td>
                                    <td th:text="${p.getNombre()}"></td>
                                    <td th:text="${p.getCantidad()}"></td>
                                    <td th:text="${p.getFecha()}"></td>
                                    <td th:text="${p.getEstado()}"></td>
                                    <td th:text="${p.getComentario()}"></td>
                                    <td align="center">
                                        <a style="margin-left: 10px" class="fa fa-check-circle text-success"
                                           href="#"
                                           data-toggle="modal" data-target="#modalborrar"
                                           th:attrappend="data-target=${p.getIdestado()}"></a>
                                    </td>
                                    <div class="modal fade" id="modalborrar" tabindex="-1" role="dialog"
                                         th:attrappend="id=${p.getIdestado()}" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title w-100 font-weight-bold">Confirmar devolucion de producto</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h6 th:text="'¿Está seguro que desea confirmar que recibio '+ ${p.cantidad} + ' ' + ${p.getCodigogenerado()} + ' de ' + ${p.nombre_sede}"></h6>
                                                    <a th:href="@{'/gestor/aceptarProductosDevueltos' + '?id=' + ${p.getIdestado()}}"
                                                       class="btn btn-orange btn-block">Confirmar</a>
                                                    <button type="button" class="btn btn-searchTop btn-block"
                                                            data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">Cancelar</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>

</body>
</html>