<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Registrar Compra')">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
</head>

<body id="page-top">

<div id="wrapper">
    <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <div id="content">
            <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
            <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-redM" type="text">Añadir Producto</h5>
                        </div>
                    </div>
                    <div th:if="${msg != null}" th:text="${msg}"  align="center" class="alert alert-danger" role="alert"></div>
                    <div th:if="${msgE != null}" th:text="${msgE}" align="center" class="alert alert-danger" role="alert"></div>
                    <div class="card-body bg-gray">
                        <div class="row">
                            <div style="width: 62px"></div>
                            <div class="col-lg-5">
                                <div class="p-5">
                                    <form method="post" th:action="@{/gestor/guardarProducto}" th:object="${formulario}" class="user">
                                        <input th:value="*{crearActualizar}" name="crearActualizar" type="hidden"/>
                                        <input th:value="${desplegar}" name="crearActualizar" type="hidden"/>
                                            <label>Modalidad</label>
                                            <select style="border-radius: 10rem" class="form-control"
                                                    id="miselect" name="modalidad">
                                                <option id="compra" th:value="compra"> Compra</option>
                                                <option id="consignacion" th:value="consignacion">Consignación</option>
                                            </select>

                                        <div class="form-group" id="verConsignacion3">
                                            <label>Fecha Inicio de la Consignación</label>
                                            <input type="date" class="form-control" style="border-radius: 10rem"
                                                   th:field="*{fechainicio}">
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('fechainicio')}"
                                                 th:errors="*{fechainicio}"></div>
                                        </div>
                                        <div class="form-group" id="verConsignacion">
                                            <label>Fecha Fin de la Consignación</label>
                                            <input type="date" class="form-control" style="border-radius: 10rem"
                                                   th:field="*{fechafin}">
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('fechafin')}"
                                                 th:errors="*{fechafin}"></div>
                                        </div>
                                        <div class="form-group" id="verConsignacion2">
                                            <label>Artesano </label>
                                            <select style="border-radius: 10rem" class="form-control"
                                                    th:field="*{codigoArtesano}">
                                                <option th:each="artesanos : ${listaArtesanos}" th:value="${artesanos.idArtesano}"
                                                        th:text="${artesanos.nombre}">uno
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Nombre del Producto</label>
                                            <input type="text" class="form-control form-control-user2"
                                                   th:field="*{nombreProducto}">
                                            <div class="text-danger" th:if="${#fields.hasErrors('nombreProducto')}"
                                                 th:errors="*{nombreProducto}"></div>
                                        </div>
                                        <div th:if="${formulario.crearActualizar == 0}" class="form-group">
                                            <label>Código del Nombre del Producto</label>
                                            <input type="text" class="form-control form-control-user2" id="codigoProducto"
                                                   name="codigoProducto"
                                                   th:value="*{codigoProducto}">
                                            <div class="text-danger" th:if="${#fields.hasErrors('codigoProducto')}"
                                                 th:errors="*{codigoProducto}"></div>
                                        </div>

                                        <div class="form-group">
                                            <label>Descripción</label>
                                            <input type="text" class="form-control form-control-user2" id="descripcion"
                                                   name="descripcion"
                                                   th:value="*{descripcion}">
                                            <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}"
                                                 th:errors="*{descripcion}"></div>
                                        </div>
                                        <div th:if="${formulario.crearActualizar == 0}" class="form-group">
                                            <label>Código de la Descripción</label>
                                            <input type="text" class="form-control form-control-user2" id="codDescripcion"
                                                   name="codDescripcion"
                                                   th:value="*{codDescripcion}">
                                            <div class="text-danger" th:if="${#fields.hasErrors('codDescripcion')}"
                                                 th:errors="*{codDescripcion}"></div>
                                        </div>
                                        <div th:if="${formulario.crearActualizar == 0}" class="form-group">
                                            <label>Categoría</label>
                                            <select style="border-radius: 10rem" class="form-control" name="nombreCategoria"
                                                    id="nombreCategoria">
                                                <option th:each="cat: ${listaCategorias}" th:value="${cat.nombre}"
                                                        th:text="${cat.nombre}"
                                                        th:selected="${cat.nombre.equals(formulario.nombreCategoria)}">uno
                                                </option>
                                            </select>
                                        </div>
                                        <div th:if="${formulario.crearActualizar == 0}" class="form-group">
                                            <label>Línea</label>
                                            <select style="border-radius: 10rem" class="form-control" name="nombreLinea"
                                                    id="nombreLinea">
                                                <option th:each="lin: ${listaLinea }" th:value="${lin.nombre}"
                                                        th:text="${lin.nombre}"
                                                        th:selected="${lin.nombre.equals(formulario.nombreLinea)}">uno
                                                </option>
                                            </select>
                                        </div>
                                        <div th:if="${formulario.crearActualizar == 0}" class="form-group">
                                            <label>Tamaño</label>
                                            <select style="border-radius: 10rem" class="form-control" name="nombreTama"
                                                    id="nombreTama}">
                                                <option th:each=" tam : ${listaTama}" th:value="${tam.nombre}"
                                                        th:text="${tam.nombre}"
                                                        th:selected="${tam.nombre.equals(formulario.nombreTama)}">uno
                                                </option>
                                            </select>
                                        </div>
                                        <div th:if="${formulario.crearActualizar == 0}" class="form-group">
                                            <label>Comunidad a la que pertenece</label>
                                            <select style="border-radius: 10rem" class="form-control" name="nombreComun"
                                                    id="nombreComun">
                                                <option th:each="comu : ${listaComunidades}" th:value="${comu.nombre}"
                                                        th:text="${comu.nombre}"
                                                        th:selected="${comu.nombre.equals(formulario.nombreComun)}">uno
                                                </option>
                                            </select>
                                        </div>
                                        <hr style="margin: 1.5rem 0">
                                            <button style="border-radius:10rem" type="submit" class="btn btn-orange btn-block">
                                                Guardar
                                            </button>
                                            <a  class="btn btn-danger btn-block" style="border-radius:10rem" th:href="@{/gestor/productos}"> Cancelar</a>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>

<script>



    var modalidad = document.getElementById("miselect");
    var text = modalidad.options[modalidad.selectedIndex].text;

    if (text == 'Compra') {
        document.getElementById("verConsignacion").style.display = "none";
        document.getElementById("verConsignacion2").style.display = "none";
        document.getElementById("verConsignacion3").style.display = "none";
    }

    $(document).ready(function () {
        $("#miselect").on('change', function () {

            var mitexto = $(this).val();
            console.log(mitexto);

            if (mitexto == "compra") {
                console.log("Entro a compra")
                $("#verConsignacion2").hide();
                $("#verConsignacion3").hide();
                $("#verConsignacion").hide();
            } else if (mitexto == "consignacion") {
                console.log("Entro a consigna")
                $("#verConsignacion").show();
                $("#verConsignacion3").show();
                $("#verConsignacion2").show();
            }
        });

    });
</script>


</body>
</html>