<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Registrar Compra')">
</head>

<body id="page-top">
    <div id="wrapper">
        <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
        <div id="content-wrapper" class="d-flex flex-column bg-white">
            <div id="content">
                <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
                <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-gray-900">Registrando un Producto</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group col-md-6">
                                    <label for="rfc">Modalidad</label>
                                    <select class="form-control" name="supplier" id="rfc">
                                        <option >Compra</option>
                                        <option >Consignación</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Número de pedido</label>
                                    <input type="email" class="form-control" id="inputEmail4" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="supplier">Línea</label>
                                    <select class="form-control" name="supplier" id="supplier">
                                        <option >uno</option>
                                        <option >dos</option>
                                        <option >tres</option>
                                        <option >cuatro</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="efe">Categoría</label>
                                    <select class="form-control" name="efe" id="efe">
                                        <option >uno</option>
                                        <option >dos</option>
                                        <option >tres</option>
                                        <option >cuatro</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="adasas">Nombre del Producto</label>
                                    <select class="form-control" name="supplier" id="adasas">
                                        <option >uno</option>
                                        <option >dos</option>
                                        <option >tres</option>
                                        <option >cuatro</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="qwe">Descripción</label>
                                    <input type="text" class="form-control" id="qwe" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="rew">Tamaño</label>
                                    <select class="form-control" name="supplier" id="rew">
                                        <option >uno</option>
                                        <option >dos</option>
                                        <option >tres</option>
                                        <option >cuatro</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="dsa">Comunidad a la que pertenece</label>
                                    <select class="form-control" name="supplier" id="dsa">
                                        <option >uno</option>
                                        <option >dos</option>
                                        <option >tres</option>
                                        <option >cuatro</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="zxc">Cantidad</label>
                                    <input type="text" class="form-control" id="zxc" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="ert">Tipo</label>
                                    <input type="text" class="form-control" id="ert" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="wer">Fecha</label>
                                    <input type="date" class="form-control" id="wer" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="tyu">Color</label>
                                    <input type="text" class="form-control" id="tyu" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="uio">Foto</label>
                                    <p><input type="file" accept="image/*" id="uio"></p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="ef">Costo Tejedor (S/.)</label>
                                    <input type="text" class="form-control" id="ef" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="ghj">Costo Mosqoy (S/.)</label>
                                    <input type="text" class="form-control" id="ghj" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="az">Facilitador</label>
                                    <input type="text" class="form-control" id="az" >
                                </div>
                                <div class="form-row col-md-2">
                                <div class="form-group col-md-8">
                                    <a href="#" class="btn btn-danger">Cancelar</a>
                                </div>
                                <div class="form-group col-md-2"  >
                                    <a href="#" class="btn btn-primary">Guardar</a>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>

</body>
</html>