<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Registro nuevo Usuario Sede')">
</head>

<body id="page-top">

<div id="wrapper">
    <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
    <div id="content-wrapper" class="d-flex flex-column bg-white">
        <div id="content">
            <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
            <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
            <!-- Page Heading -->
            <div class="container-fluid">
                <div class="card shadowA mb-4">
                    <div class="card-header2 py-3">
                        <div class="d-flex justify-content-between centrado">
                            <h5 class="m-0 font-weight-bold text-gray-900" type="text">Registro nuevo Usuario Sede</h5>
                        </div>
                    </div>
                    <div class="card-body bg-gray-100">
                        <div th:if="${msgError != null}" th:text="${msgError}" class="alert alert-danger" role="alert"></div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <form method="post" class="user" th:action="@{/gestor/guardarUsuarioSede}" th:object="${usuarios}">
                                        <input th:field="*{idusuarios}" name="idUsuarios" type="hidden" />
                                        <div class="form-group">
                                            <input th:field="*{nombre}" type="text" class="form-control form-control-user" id="nombre" placeholder="Nombre">
                                            <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                                        </div>
                                        <div class="form-group">
                                            <input th:field="*{apellido}" type="text" class="form-control form-control-user" id="apellido" placeholder="Apellidos">
                                            <div class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
                                        </div>
                                        <div class="form-group">
                                            <input th:field="*{correo}" type="text" class="form-control form-control-user" id="correo" placeholder="Correo">
                                            <div class="text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></div>
                                        </div>
                                        <div class="form-group">
                                            <input th:field="*{telefono}" type="text" class="form-control form-control-user" id="telefono" placeholder="Telefono">
                                            <div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
                                        </div>
                                        <div class="form-group">
                                            <select th:field="*{sede.idsede}" class="form-control" id="sede" style="border-radius:10rem">
                                                <option th:each="sede : ${listasedes}" th:value="${sede.idsede}" th:text="${sede.nombre}"></option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-searchTop btn-user btn-block">
                                            Guardar
                                        </button>
                                        <a class="btn btn-searchTop btn-danger btn-block" style="border-radius:10rem" th:href="@{'/gestor/gestorListaUsuarioSede'}"> Cancelar</a>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <br>
                                <br>
                                <div class="card shadowA mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-greenM">Recordar!</h6>
                                    </div>
                                    <div class="card-body">
                                        Aquí solo se podrá agregar a nuevos usuarios sedes colaboradores en Mosqoy.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>

</body>
</html>
