<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragmentos/FragmentosGestor.html::cabecera(titulo='Registrar COmunidad')">
</head>

<body id="page-top">
    <div id="wrapper">

        <div th:replace="Fragmentos/FragmentosGestor.html:: SideBarGestor"></div>
        <div id="content-wrapper" class="d-flex flex-column bg-white">
            <div id="content">
                <div th:replace="Fragmentos/FragmentosGestor.html:: TopBar"></div>
                <div th:replace="Fragmentos/FragmentosGestor.html:: LogOut"></div>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <!--  <h4 class="m-0 font-weight-bold text-gray-900" >Registro de nueva comunidad</h4>   -->
                        <h4 class="m-0 font-weight-bold text-gray-900" th:text="${comunidad.idComunidad==0?'Registro de nueva comunidad':'Editar comunidad'}">Registro de nueva comunidad </h4>
                        </div>
                        <div th:if="${errorComunidad != null}" th:text="${errorComunidad}" class="alert alert-danger" role="alert"></div>
                        <div class="card-body">

                            <form method="post" th:action="@{/gestor/gestorGuardarComunidad}" th:object="${comunidad}">
                                <input th:field="${comunidad.idComunidad}" type="hidden"/>
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre</label>
                                    <input th:field="*{nombre}"  type="text" class="form-control"  >
                                    <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                                </div>
                                <div th:if="${comunidad.idComunidad  == 0}" class="form-group col-md-6">
                                    <label for="codigo">Código</label>
                                    <input th:field="*{codigo}"  type="text" class="form-control"  >
                                    <div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
                                </div>
                                <div class="form-row col-md-2">
                                    <div class="form-group col-md-8">
                                        <a th:href="@{/gestor/gestorListaComunidad}" class="btn btn-danger">Cancelar</a>
                                    </div>
                                    <div class="form-group col-md-2"  >
                                        <button type="submit" class="btn btn-primary" th:text="${comunidad.idComunidad==0?'Registrar':'Actualizar'}">Registrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div th:replace="Fragmentos/FragmentosGestor.html::Script"></div>

</body>
</html>